

td{
    padding-top: 12px;
    padding-bottom: 12px;
}
#Entete th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;

    // background-color: #E96429;
} 
 

#Entete {
    font-family: Arial, Helvetica, sans-serif;
    // border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    background-color:  #F3F3F3;
    box-shadow: #ddd;
    // box-shadow: 2px 2px 2px 2px #ddd;

  }

  #Entete td{
    border: 1px #ddd;
    padding: 8px;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    width: 596.34px;
height: 38px;
left: 519.4px;
top: 323.41px;

  }
  #Entete th {
    border: 1px #ddd;
    padding: 8px;
    text-align: center;
    border-top: solid 1px;
    width: 596.34px;
height: 38px;
left: 519.4px;
top: 323.41px;

  }

//   #Entete tr:nth-child(even){
//     background-color: #f2f2f2;
// }

//   #Entete tr:hover {
//     background-color: #ddd;
// }
.ttop{
    text-align: center;
    background-color: #FF7900;
    // width: 31%;
    /* justify-content: center; */
    margin-left: auto;
    margin-right: auto;
    font-size: 19px;
    border: 1px solid #000000;
        box-shadow: 0px 4px 2px 5px rgb(0 0 0 / 25%);
        color:white;
        font-weight: bold;    
        width: 75%;
        margin-left: auto;
        margin-right: auto;

}
.centre {
    // background-color: white;
    // width: 85%;
   
    // margin-right: auto;
    // margin-left: auto;
   
    // // padding-top: 5%;
    // padding-bottom: 10%;
    // box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
    // width: 704px;
    // height: 280px;
    // left: 467px;
    // top: 200px;
    // margin-top: 80px;

    box-shadow: 0px 4px 20px 10px rgb(0 0 0 / 25%);
    width: 704px;
    
}
// p.ttop {
//     position: absolute;
//     top: 20%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     font-weight: bold;
//     // padding-top: 10px;
//     text-align: center;
//     width: 554px;
// }
.top{
    
    padding-top: 32px;

}
.horizon{
    border-bottom: 2px solid;
    text-decoration: underline;

    width: 10%;
    margin-top: 44px;
    width: 12%;
    margin-left: 12%;
}
svg.bi.bi-caret-down {
    margin-left: 62px;
}


button.importer {
    border: 2px solid #FF7900 ;
    font-size: 16px;
    border-radius: 4vh;
    height: 40px;
    margin-left: 70%;
    margin-top: 2%;
    background-color: white;
}
// p.ttop {
// }




// .bbas{
//     box-sizing: border-box;
//     /* position: absolute; */
//     width: 473px;
//     height: 41px;
//     margin-right: auto;
//     margin-left: auto;
//     left: 589px;
//     top: 179px;
//     background: #FF7900;
//     /* margin-top: 33px; */
//     border: 1px solid #000000;
//     box-shadow: 0px 4px 2px 5px rgb(0 0 0 / 25%);
//     position: absolute;
//     font-weight: bold;
//     // padding-top: 10px;
//     text-align: center;
//     width: 554px;
//     transform: translate(-50%, -50%);
//     color: white;
//     top: 105%;
//      left: 50%;
//      width:20% ;
// }
p.bbas{
text-align: center;
background-color: #FF7900;
width: 31%;
/* justify-content: center; */
margin-left: auto;
margin-right: auto;
font-size: 25px;
border: 1px solid #000000;
    box-shadow: 0px 4px 2px 5px rgb(0 0 0 / 25%);
    color:white;
    font-weight: bold;
}

p {
    color: orange;
    font-size: 20px;
    font-weight: bold;
    margin-left: 19px;
}
button.trie {
    border: 2px solid #FF7900 ;
    font-size: 16px;
    border-radius: 4vh;
    height: 40px;
    margin-left: 80%;
    margin-top: 2%;
    background-color: white;
}

.monter {
    margin-top: -45px;
}

@media only screen and (min-width: 316px){
    .centre {
        background-color: white;
        width: 85%;
       
        margin-right: auto;
        margin-left: auto;
       
        // padding-top: 5%;
        padding-bottom: 10%;
        box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
        width: 704px;
        height: 280px;
        left: 467px;
        top: 200px;
        margin-top: 80px;
    
    
    }

    @media screen and (max-width: 746px) {

        th,td{
            padding:8px;
        }


    }
}

    //     .tabtitle {
    //         width: auto;
    //     }
    //     .texte {
    //         padding-left: 5px;
    //         padding-right: 5px;
    //         color: white;
    //     }
    //     .cacher1 {
    //         display: none;
    //     }
    //     .num {
    //         display: none;
    //     }
    
    // }
    @media screen and (max-width: 1499px) {
        .centre {
            width: 90%;
        
        }
        .monter{
            width: auto;

        }
       
    
    }
    @media screen and (max-width: 762px) {
        .ttop{
            font-size: 0.9em;
           } 
           .bbas{
            font-size: 1em;
           } 
    }
    @media screen and (max-width: 582px) {
       .monter{
            width: auto;
        }
        .texte {
            font-size: x-small;
            padding-left: 5px;
            padding-right: 5px;
            color: white;
        }
        .cacher {
            display: none;
        }
    
    }
    @media screen and (max-width: 762px){
 .monter {
    width: 100%;
    font-size: 12px;
    margin-top: -46px;
}

.ttop {
    font-size: 10px;
    margin-top: 7px;
}

.horizon {
    border-bottom: 2px solid;
    text-decoration: underline;
    width: 10%;
    margin-top: 24px;
    }
    svg.bi.bi-caret-down{
        margin-left: 21px;
    }

p.bbas {
   
    font-size: 14px;
}
    }
    @media screen and (max-width: 762px){
.monter {
    width: 100%;
    font-size: 12px;
    margin-top: -47px;
}
}
@media screen and (max-width: 996px){
.ttop{
   
    font-size: 14px;
    
    width: 60%;
}
    .centre{
        margin-top: 28px;
    }
    .p{
        font-size: 14px;
    }
    p.bbas{
        width: 22%;
       
        font-size: 16px;
    }

}
@media screen and (max-width: 1004px){
   .ttop{
    
    font-size: 19px;
    margin-top: 31px;
   }
   }
   @media screen and (max-width: 956px){
    .ttop{
     
     font-size: 18px;
    }
    }
    @media screen and (max-width: 1032px){
    .ttop{
        
        font-size: 16px; 
        width: 65%;
    }
    p.bbas{
        
        font-size: 16px; 
        width: 24%;
    }
    .centre{
        margin-top: 30px;
    }
}
@media screen and (max-width: 1032px){
.ttop {
    font-size: 7px;
    width: 65%;
}   

#Entete td {
    
    padding: 0px;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;

}
p{
    font-size: 13px;
}} 
@media screen and (max-width: 762px){
.horizon {
    border-bottom: 2px solid;
    text-decoration: underline;
    width: 12%;
    margin-top: 5px;
} 
}
@media screen and (max-width: 1032px){
.centre{
    margin-top: 30px;
    height: auto;
}
button.importer {
    border: 2px solid #FF7900;
    font-size: 4px;
    border-radius: 4vh;
    height: 20px;
    margin-left: 71%;
    margin-top: 2%;
}
.ttop{
    font-size: 7px;
    width: 65%;
    margin-top: 9px;
}
button.trie {
    border: 2px solid #FF7900;
    font-size: 7px;
    border-radius: 4vh;
    height: 28px;
    margin-left: 78%;
    margin-top: 2%;
}
p.bbas {
    font-size: 10px;
    margin-top: 7px;
    width: 24%;
}

}
@media screen and (max-width: 1032px){
p.bbas{
    font-size: 9px;
    margin-top: 7px;
    width: 24%;
}
}
@media screen and (max-width: 1032px){
.centre {
    margin-top: 30px;
    height: auto;
}
}
@media screen and (max-width: 1032px){
.centre{
    margin-top: 84px;
    height: auto;
}}
@media screen and (max-width: 1032px){
.centre{
    margin-top: 84px;
    height: auto;
}
}

@media screen and (max-width: 370px){
   td svg{
    display: none;
   
   }
   #Entete .action{
    display: none;
   }
   #Entete .actionn{
    display: none;
   }


  
   .centre{
    margin-left: 15px;
    margin-top: 12px;
    height: auto;

   }
   #Entete .th{
    font-size: 10px;
}   
#Entete .td{
    font-size: 10px;
}
svg.bi.bi-caret-down{
    margin-left: 15px;
    margin-top: 11px;
    height: 12px;
}
    .horizon{
       
            border-bottom: 2px solid;
            text-decoration: underline;
            width: 12%;
            margin-top: -6px;
    }
    .ttop {
        font-size: 6px;
        width: 59%;
        margin-top: 8px;
}
p.bbas {
    font-size: 8px;
    margin-top: 7px;
    width: 24%;
}

button.importer[_ngcontent-uso-c146] {
   
    font-size: 3px;
    
    margin-left: 69%;
}
svg.bi.bi-pencil-square {
    height: 8px;
}
button.trie{
    border: 2px solid #FF7900;
    font-size: 7px;
    border-radius: 4vh;
    height: 19px;
    margin-left: 74%;
    margin-top: 2%;
}
}
