

td{
    padding-top: 12px;
    padding-bottom: 12px;
}
#Entete th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;

    // background-color: #E96429;
} 
 

#Entete {
    font-family: Arial, Helvetica, sans-serif;
    // border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;

    width: 75%;
    background-color:  #F3F3F3;
    box-shadow: #ddd;
    // box-shadow: 2px 2px 2px 2px #ddd;

  }

  #Entete td{
    border: 1px #ddd;
    padding: 8px;
    text-align: center;
    border-top: solid 1px;
    border-bottom: solid 1px;
    width: 596.34px;
height: 38px;
left: 519.4px;
top: 323.41px;

  }
  #Entete th {
    border: 1px #ddd;
    padding: 8px;
    text-align: center;
    border-top: solid 1px;
    width: 596.34px;
height: 38px;
left: 519.4px;
top: 323.41px;

  }

//   #Entete tr:nth-child(even){
//     background-color: #f2f2f2;
// }

//   #Entete tr:hover {
//     background-color: #ddd;
// }
.ttop{
    box-sizing: border-box;
    /* position: absolute; */
    width: 473px;
    height: 41px;
    margin-right: auto;
    margin-left: auto;
    left: 589px;
    top: 179px;
    background: #FF7900;
    /* margin-top: 33px; */
    border: 1px solid #000000;
    box-shadow: 0px 4px 2px 5px rgb(0 0 0 / 25%);

}
.centre {
    background-color: white;
    width: 85%;
   
    margin-right: auto;
    margin-left: auto;
   
    // padding-top: 5%;
    padding-bottom: 10%;
    box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
    width: 704px;
    height: 280px;
    left: 467px;
    top: 200px;
    margin-top: 80px;


}
p.ttop {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    // padding-top: 10px;
    text-align: center;
    width: 554px;
}
.top{
    
    padding-top: 32px;

}
.horizon{
    border-bottom: 2px solid;
    text-decoration: underline;

    width: 10%;
    margin-top: 44px;
    width: 12%;
    margin-left: 12%;
}
svg.bi.bi-caret-down {
    margin-left: 62px;
}
p{
color: #FF7900;
font-size: 20px;
font-weight: bold;
margin-left: 26px;
margin-top: 30px;
}
button.importer {
    border: 2px solid #FF7900 ;
    font-size: 16px;
    border-radius: 4vh;
    height: 40px;
    margin-left: 70%;
    margin-top: 2%;
}
p.ttop {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    // padding-top: 10px;
    text-align: center;
    width: 554px;
}




.bbas{
    box-sizing: border-box;
    /* position: absolute; */
    width: 473px;
    height: 41px;
    margin-right: auto;
    margin-left: auto;
    left: 589px;
    top: 179px;
    background: #FF7900;
    /* margin-top: 33px; */
    border: 1px solid #000000;
    box-shadow: 0px 4px 2px 5px rgb(0 0 0 / 25%);
    position: absolute;
    font-weight: bold;
    // padding-top: 10px;
    text-align: center;
    width: 554px;
    transform: translate(-50%, -50%);
    color: white;
    top: 105%;
     left: 50%;
     width:20% ;
}

button.trie {
    border: 2px solid #FF7900 ;
    font-size: 16px;
    border-radius: 4vh;
    height: 40px;
    margin-left: 80%;
    margin-top: 2%;
}

@media only screen and (min-width: 316px){
    .centre {
        background-color: white;
        width: 85%;
       
        margin-right: auto;
        margin-left: auto;
       
        // padding-top: 5%;
        padding-bottom: 10%;
        box-shadow: 0px 4px 20px 10px rgba(0, 0, 0, 0.25);
        width: 704px;
        height: 280px;
        left: 467px;
        top: 200px;
        margin-top: 80px;
    
    
    }
    @media screen and (max-width: 746px) {
        .tabtitle {
            width: auto;
        }
        .texte {
            padding-left: 5px;
            padding-right: 5px;
            color: white;
        }
        .cacher1 {
            display: none;
        }
        .num {
            display: none;
        }
    
    }
    @media screen and (max-width: 1060px) {
        .tabtitle {
            width: auto;
        }
        .texte {
            padding-left: 5px;
            padding-right: 5px;
            color: white;
        }
        .cacher2 {
            display: none;
        }
    
    }
    @media screen and (max-width: 910px) {
        .tabtitle {
            width: auto;
        }
        .texte {
            padding-left: 5px;
            padding-right: 5px;
            color: white;
        }
        .cacher3 {
            display: none;
        }
    
    }
    @media screen and (max-width: 690px) {
        .tabtitle {
            width: auto;
        }
        .texte {
            font-size: x-small;
            padding-left: 5px;
            padding-right: 5px;
            color: white;
        }
        .cacher {
            display: none;
        }
    
    }
}


