
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <div class="row">
      <div class="col"><ion-title style="color: #FF7900; margin-left: 10px;">Liste participant ou Aprenant</ion-title></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="width: 100%; color:#FF7900; font-size: 30px;"><i class="fa-regular fa-bell"></i></div>
    </div>
  </ion-toolbar>
</ion-header>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<ion-content>

<div class="container">
  <div class="col">
    <div class="row">



      <div class="col-sm-12 col-md-6 col-lg-6" class="principal">

          <img src="" alt="">
          <div class="col"  class="title">Importer </div><br>

      <form action=" ">
        <div class="row">
          <div class="col" class="importer"> <i class="fa-solid fa-file-circle-plus"  id="iconeImport"></i>
            <input type="file"  name="nbredepostulants" id="import" class="form-control" /></div>
        </div><br>


        <div class="row">
          <div class="col">
            <label>Activité *</label><br>
            <select name="" id="select">
              <option value="">Choisissez une activité</option>
            </select>
          </div>
        </div><br><br>




        <div class="row">
          <div class="col">
            <button type="submit" (click)="succesImport()"> <i class="fa-sharp fa-solid fa-download" style="margin-right: 10px;"></i>Importer</button>
          </div>
        </div>
      </form>
      </div>





    </div>
  </div>
</div>

</ion-content>

