<ion-header>
  <ion-toolbar>
    <ion-title>TachesActivite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Désignation</th>
        <th scope="col">Réalisateur</th>
        <th scope="col" class="hideColonne hideColonneOder">Lieu</th>
        <th scope="col">Contact</th>
        <th scope="col" class="hideColonne hideColonneOder">Date début</th>
        <th scope="col" class="hideColonne">Date fin</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of students | paginate: { itemsPerPage: 5, currentPage: pages}">
        <td> {{table.Designation}} </td>
        <td> {{table.Realisateur}} </td>
        <td class="hideColonne hideColonneOder"> {{table.Lieu}} </td>
        <td> {{table.Statut}} </td>
        <td class="hideColonne hideColonneOder"> {{table.Dated}} </td>
        <td class="hideColonne">{{table.Datef}}</td>
      </tr>
      <pagination-controls (pageChange)=" pages = $event"> </pagination-controls>
    </tbody>

  </table>
</ion-content>
