// @font-face {
//     font-family: myfon1;
//     src: url("../../assets/font/Poppins-Light.ttf");
//   }
  
  .tailleTexte{
    font-family: myfon1 !important;
    font-size: 18px !important;
  }
  .tableEntete{
    background-color: #FF6200;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
  @media screen and (max-width: 900px) {
    .tailleTexte{
      font-size: 12px;
    }
  }
  
  
  @media screen and (max-width: 800px) {
      .tailleTexte{
        font-size: 8px;
      }
      .cacherCole{
        display: none;
      }
    }
//   }@font-face {
//   font-family: myfon1;
//   src: url("../../assets/font/Poppins-Light.ttf");
// }

.tailleTexte{
  font-size: 18px !important;
}
.tableEntete{
  background-color: #FF6200;
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.voir{
    background-color: #FF6200;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
  }

@media screen and (max-width: 900px) {
  .tailleTexte{
    font-size: 12px;
  }
}


@media screen and (max-width: 800px) {
    .tailleTexte{
      font-size: 8px;
    }
    .cacherCole{
      display: none;
    }
}