<ion-header>
    <ion-toolbar>
        <ion-title>creerActivite</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="title">Nouvelle Activité</div>
    <div class="container">

        <form action="#">
            <div class="activite-details">
                <div class="input-box">
                    <span class="details">Entité</span>
                    <select name="typeentite" class="select">
                        <option *ngFor="let entite of Entites">{{entite.libelleentite}}</option>
                    </select>
                </div>
                <div class="input-box ">
                    <span class="details">Type d'activité</span>
                    <select  class="select" [(ngModel)]="typeactivite" name="typeactivite" (change)="ActiviteChange()"  >
                        <option  *ngFor="let typeAc of TypeActivite" >{{typeAc.libelle}}</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Ajouter image</span>
                    <input type="file" placeholder="Logo.jpg" id="logo" name="logo" accept="image/png, image/jpeg, image/jpg">
                    <label *ngIf="erreur" >{{message}}</label>
                
                </div>
                <div class="input-box">
                    <span class="details">Donner un nom à l'activité</span>
                    <input type="text" [(ngModel)]="nomActivite" name="nomActivite" placeholder="Nom de l'activité">
                </div>
                <div class="input-box">
                    <span class="details">Durée</span>
                    <input type="text" [(ngModel)]="duree" name="duree" [disabled]="typeactivite=='Formations' || typeactivite=='Evenement'" placeholder="Donner la durée de l'activité">
                </div>
                <div class="input-box">
                    <span class="details">Le nom du lead de l'activité</span>
                    <select name="choixlead" class="select" [(ngModel)]="leadNomPrenom" name="lead">
                        <option *ngFor="let user of UsersActives">{{user.prenom}} {{user.nom}}</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Activité Attribuer à </span>
                    <select name="activiteattribuer" class="select">
                        <option *ngFor="let user of UsersActives">{{user.prenom}} {{user.nom}}</option>
                    </select>
                </div>
                <div class="input-box">
                    <span class="details">Salle dedié à l'activité</span>
                    <select name="tchoixsalle" class="select" [(ngModel)]="libellesalle" name="salle" >
                        <option *ngFor="let salle of SallesDispo">{{salle.libelle}}</option>
                    </select>
                </div>

                <!-- si c'est un talk -->
                <div class="input-box" *ngIf="typeactivite!='Formations' && typeactivite!='Evenement'">
                    <span class="details">Date</span>
                    <input type="datetime-local" [(ngModel)]="date" name="date" placeholder="Choisisez la date">
                </div>

                <!-- <div class="input-box" *ngIf="typeactivite!='Formations' && typeactivite!='Evenement'">
                    <span class="details">Date et heure</span>
                    <ion-datetime-button datetime="datetime"></ion-datetime-button>

                    <ion-modal [keepContentsMounted]="true">
                      <ng-template>
                        <ion-datetime  id="datetime" [(ngModel)]="date" name="date"  ></ion-datetime>
                      </ng-template>
                    </ion-modal>
                </div> -->
                

                <!-- fin talk  -->
                <div class="input-box" *ngIf="typeactivite=='Formations' || typeactivite=='Evenement'">
                    <span class="details">Date debut</span>
                    <input type="datetime-local" [(ngModel)]="datedebut" name="datedebut"  placeholder="Choisisez la date de debut">
                </div>
                <div class="input-box" *ngIf="typeactivite=='Formations' || typeactivite=='Evenement'">
                    <span class="details">Date fin</span>
                    <input type="datetime-local" [(ngModel)]="dateFin" name="dateFin"  placeholder="Choisisez la date de fin">
                </div>
                <div class="button">
                    <input class="but" type="reset" value="Annuler">
                </div>
                <div class="button">
                    <input class="but" type="submit" (click)="CreerActivite()" value="Créer l'activté">
                </div>
            </div>
        </form>
    </div>

</ion-content>