<ion-header>
  <ion-toolbar>
    <ion-title>PostulantsTire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="un" style=" color:#FF7900;">TIRAGE2</h2>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" shape="round">
        <ion-searchbar class="Recherche" placeholder="Recherche postulants"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--1  -->
  <div class="container ">
    <div class="row gy-3 my-3">

      
      

      
      
      
      
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor=" let a of accueil |paginate:{itemsPerPage:8, currentPage:a}; let index = index">

        <div class="card" >
          <img src="assets/images/profile.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> {{a.nom}} </h5>
            <p class="card-text"> {{a.prenom}} </p>
          </div>
        </div>

      </div>
    </div>

  </div>
  
  <div class="pagination">
    <pagination-controls (pageChange)="a = $event" nextLabel="Suivants" previousLabel="Précédents">
    </pagination-controls>
  </div>
</ion-content>