<ion-header>
  <ion-toolbar>
    <ion-title>PostulantsTire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="un" style=" color:#FF7900;">TIRAGE2</h2>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" shape="round">
        <div class="par">Recherche:</div>
        <ion-searchbar placeholder="Recherche postulants" ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--1  -->
<div class="container ">
  <div class="row gy-3 my-3">

      <div class="col-sm-6 col-md-4 col-lg-3">

           <div class="card"  >
              <img src="assets/images/profile.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mr SAGARA</h5>
                <p class="card-text">jeansagara272@gmail.com</p>

                <div class="iconprof">
                  <!-- icon Update -->
                   <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16" color="#157347">
                       <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                       <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                       </svg>
                       <br>
                    <!-- icon Delete -->
                       <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" margin-left="50px"  fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" color="red">
                       <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                       <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                       </svg>
   </div>

              </div>
           </div>
      </div>

      <!--2  -->
      <div class="col-sm-6 col-md-4 col-lg-3">

        <div class="card"  >
           <img src="assets/images/profile.png" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Mr SAGARA</h5>
             <p class="card-text">jeansagara272@gmail.com</p>

             <div class="iconprof">
               <!-- icon Update -->
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16" color="#157347">
                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                    <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                    <br>
                 <!-- icon Delete -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" margin-left="50px"  fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16" color="red">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
</div>

           </div>
        </div>



   </div>


  </div>

</div>
<!-- <ion-button>Importation</ion-button> -->

</ion-content>
