<ion-header>
  <ion-toolbar>
    <ion-title>PostulantsTire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="un" style=" color:#FF7900;">TIRAGE2</h2>
  <ion-grid>
    <ion-row>
      <ion-col size-md="4" shape="round">
        <!-- <div class="par">Recherche:</div> -->
        <ion-searchbar placeholder="Recherche postulants" class="shadow-red"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!--1  -->
<div class="container ">
  <div class="row gy-3 my-3" >

      <div class="col-sm-6 col-md-4 col-lg-3">

           <div class="card"  >
              <img src="assets/images/profile.png" class="card-img-top" alt="..." >
              <div class="card-body">
                <h5 class="card-title">Mr SAGARA</h5>
                <p class="card-text">jeansagara272@gmail.com</p>
              </div>
           </div>
      </div>

      <!--2  -->
      <div class="col-sm-6 col-md-4 col-lg-3">

        <div class="card"  >
           <img src="assets/images/profile.png" class="card-img-top" alt="...">
           <div class="card-body">
             <h5 class="card-title">Mr SAGARA</h5>
             <p class="card-text">jeansagara272@gmail.com</p>

           </div>
        </div>



   </div>
   <!--3  -->
   <div class="col-sm-6 col-md-4 col-lg-3">

    <div class="card"  >
       <img src="assets/images/profile.png" class="card-img-top" alt="...">
       <div class="card-body">
         <h5 class="card-title">Mr SAGARA</h5>
         <p class="card-text">jeansagara272@gmail.com</p>

       </div>
    </div>
</div>

<!--4  -->
<div class="col-sm-6 col-md-4 col-lg-3">

  <div class="card"  >
     <img src="assets/images/profile.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Mr SAGARA</h5>
       <p class="card-text">jeansagara272@gmail.com</p>

     </div>
  </div>
</div>

<!--5  -->
<div class="col-sm-6 col-md-4 col-lg-3">

  <div class="card"  >
     <img src="assets/images/profile.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Mr SAGARA</h5>
       <p class="card-text">jeansagara272@gmail.com</p>

     </div>
  </div>
</div>

<!--6  -->
<div class="col-sm-6 col-md-4 col-lg-3">

  <div class="card"  >
     <img src="assets/images/profile.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Mr SAGARA</h5>
       <p class="card-text">jeansagara272@gmail.com</p>

     </div>
  </div>
</div>

<!--7  -->
<div class="col-sm-6 col-md-4 col-lg-3">

  <div class="card"  >
     <img src="assets/images/profile.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Mr SAGARA</h5>
       <p class="card-text">jeansagara272@gmail.com</p>

     </div>
  </div>
</div>

<!--8  -->
<div class="col-sm-6 col-md-4 col-lg-3">

  <div class="card"  >
     <img src="assets/images/profile.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Mr SAGARA</h5>
       <p class="card-text">jeansagara272@gmail.com</p>

     </div>
  </div>
</div>

<!--9  -->
<div class="col-sm-6 col-md-4 col-lg-3">

  <div class="card"  >
     <img src="assets/images/profile.png" class="card-img-top" alt="...">
     <div class="card-body">
       <h5 class="card-title">Mr SAGARA</h5>
       <p class="card-text">jeansagara272@gmail.com</p>

     </div>
  </div>
</div>


  </div>
  <div class="pagibottom"><pagination-controls (pageChange)= "a = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls></div>

</div>


<!-- <ion-button>Importation</ion-button> -->

</ion-content>
