<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un user</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div class="userbox">
      <div class="card-heading">
        <h2 class="title">FORMULAIRE D’ENREGISTREMENT D’UN TRAVAILLEUR DE ODC</h2>
      </div>
    <form>
        <div class="inputbox">
            <input type="text" id="name" name="user_name" placeholder="NOM">
        </div>
        <div class="inputbox">
          <input type="text" id="firstname" name="user_firstname" placeholder="PRENOM">
        </div>
        <div class="inputbox">
          <input type="tel" name="user_contact" placeholder="CONTACT">
        </div>
        <div class="inputbox">
          <input type="email"  name="user_email" placeholder="EMAIL">
        </div>
        <div class="inputbox">
          <div class="box">
            <select>
              <option><span>GENRE</span></option>
              <option>MASCULIN</option>
              <option>FEMININ</option>
            </select>
          </div>
        </div>
        <div class="inputbox">
          <input type="text" name="user_login" placeholder="LOGIN">
        </div>
        <div class="inputbox">
          <div class="box">
            <select>
              <option><span>RÔLE</span></option>
              <option>ADMIN</option>
              <option>RESPONSABLE</option>
              <option>USER</option>
            </select>
          </div>
        </div>
        <div class="inputbox">
          <div class="box">
            <select>
              <option><span>SELECTIONNER ENTITE</span></option>
              <option>Option 1</option>
              <option>Option 2</option>
              <option>Option 3</option>
              <option>Option 4</option>
              <option>Option 5</option>
            </select>
          </div>
        </div>
      <div class="button">
        <div class="button-left"><button>FERMER</button></div>
        <div class="button-right"><button>ENREGISTRER</button></div>
      </div>
    
      
      
      
    </form>
    </div>
  </body>
</ion-content>
