<ion-content>



  <div class="container">

    <div class="col">

     <div class="row">
      

      <div class="col-sm-12 col-md-4 box1">
        <p>Nombre d'activités réalisés</p>
        <div class="num1">1</div>
      </div>
      
      <div class="col-sm-12 col-md-4 box2">
           <p>Nombre d'activités réalisés</p>
       
       <div class="num">
        1
       </div>
      
        <div class="vp">
          <button class="vop">Voir plus</button>
        </div>
      
      </div>
  
       <div class="col-sm-12 col-md-4 box3">
      
        <button class="nvb">Nouvelle entité</button>
      
      </div>






     </div>

      </div>






      <div class="cat">
      <div class="box">
        
      
    </div>
  
  </div>
  <div class="pat1">
    <div class="enti">
      <p class="tit">Orange Digital Kalanso</p>
      <hr class="h">
      <div class="descp">Orange Digital Kalanso est une école du code, centre à vocation
         technologique qui propose des formations sur les métiers du numérique 
         et des animations.
      </div>
      <div class="phot">
        <img src="assets\image\ht_1.jfif" alt="">
      </div>
      <div class="res">
        <p class="resp">Responsable</p>
        <p class="nomresp">Mamadou Coulibaly</p>
      </div>   
    </div>
    <div class="dur">
      <p class="atcc">Activités realisées</p>
      <hr class="hv">
      <div class="tac">13</div>
    
        <p class="atc1">Apprenants Formés</p>
        <hr class="hv">
        <div class="tac">12</div>
     </div>
  </div>


</div>



</ion-content>
