<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Modifier Activité</ion-title>
    <ion-button slot="end" fill="clear">
        <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="update()">
            <div class="box">
                <h1>Edition</h1>
                <div class="activite-details">
                    <div class="input-box">
                        <span class="details">Entité *</span>

                        <select name="typeentite" [(ngModel)]="typeentite"  class="select" required>
                        <option >Modifier Entité</option>
                        <option *ngFor="let entite of activitydata" >{{entite.libelleentite}}</option>
                        <!--pour recuperer l'id de lentite<option *ngFor="let entite of Entites" >{{entite.id}}</option> -->

                    </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Titre Activité *</span>
                        <input type="text" [(ngModel)]="nomActivite"  name="nomActivite" placeholder="Nom de l'activité" required>
                    </div>

                    <div class="input-box ">
                        <span class="details">Type d'activité *</span>
                        <select name="typeactivite" [(ngModel)]="typeactivite" class="select" required>
                        <option *ngFor="let type of TypesActivites" >{{type.libelle}}</option>
                    </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Lead Activité *</span>
                        <select name="leadNomPrenom" [(ngModel)]="leadNomPrenom" class="select" required>
                        <option>Choisir un lead *</option>
                        <option *ngFor="let user of PersonnelsActives" >{{user.nom}} {{user.prenom}}</option>

                    </select>
                    </div>

                    <div class="input-box">
                        <span class="details">Date debut *</span>
                        <input name="datedebut" [(ngModel)]="datedebut" type="datetime-local" required/>
                    </div>
²
                    <div class="input-box">

                        <span class="details">Date fin *</span>
                        <input type="datetime-local"   name="dateFin" [(ngModel)]="dateFin"  required/>
                    </div>



                    <!-- <div class="input-box">
                      <span class="details">Formateurs </span>
                      <select name="utilisateurs" [(ngModel)]="utilisateurs" class="select" >
                        <option selected>Choisir des formateurs</option>
                      <option   *ngFor="let u of utilisateurs">{{u.nom}}  {{u.prenom}}</option>

                      </select>
                  </div> -->
                  <div class="input-box">
                    <span class="details">Formateurs </span>
                    <ion-list >
                      <ion-item >
                        <ion-select placeholder="Selectionner les formateurs" [multiple]="true" >
                          <ion-select-option *ngFor="let u of utilisateurs">{{u.nom}}  {{u.prenom}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>

                  </div>

                  <div class="input-box">
                    <span class="details">Formateurs  Externes</span>
                    <ion-list >
                      <ion-item >
                        <ion-select placeholder="Selectionner les formateurs" [multiple]="true" >
                          <ion-select-option *ngFor="let u of externes">{{u.nom}}  {{u.prenom}}</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>

                  </div>

                  <div class="input-box">
                    <span class="details">Salle </span>
                    <select name="libellesalle" [(ngModel)]="libellesalle" class="select">
                    <option *ngFor="let s of SallesDisponibles">{{s.libelle}}</option>
                    </select>
                </div>

                    <div class="input-box">
                        <span class="details">Ajouter image  *</span>
                        <input type="file" [(ngModel)]="image" placeholder="Logo.jpg" id="logo" name="file" (change)="selectFile($event)" accept="image/png, image/jpeg, image/jpg"

                        required/>
                    </div>
                    <div class="input-box" >
                      <span class="details"> Description   </span>
                      <textarea name="description" [(ngModel)]="description"  id="details" rows="5" cols="28" placeholder="Donner une description de l'activité"></textarea>
                     </div>

                </div>
            </div>
            <div class="button">
                <input class="but" type="submit"  [disabled]="f.form.invalid" value="Enregistrer">
            </div>
        </form>

    </div>

</ion-content>
