
  ion-split-pane{
    --side-width:15em;
  }
  
  ion-menu{
    --ion-background-color: #000000 !important;
  }

  #background-content {
    background-color: #000000 !important;
  }

//   #main{
//     background-color: #ffffff !important;
//   }

  ion-menu > ion-content{
    background-color: #000000;
  }
  .contenuSecondaire{
    background-color: #000000;
    padding-left: 1em;
    overflow: hidden;
  }
    .iconEntreprise{
      margin: auto;
    }
    // code permettant de donner a l'image des personnelle
    .blockImage{
      margin-bottom: 10%;
    }
    .imageUtilisateur{
      
        width: 150px;
        // height: 120px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 20px;
        border-radius: 50%;
      
    }
    .titleUtilisateur{
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: bolder;
        text-shadow: 1px 1px 1px darkgrey;
        color: #FF6200;
    }
    
    .contenuQuintenaire{
    }
  
    .contenuQuintenaire button{
      height: 2em;
      width: 10em;
      border-radius: 20px;
      margin-top: 15%;
      margin-bottom: 18%;
    }
    .activate{
      border-right: 5px solid red;
      border-bottom: 2px solid red;
      border-radius: 0px 0px 10px 0px;
    }
    .nav-link:hover{
      border-right: 5px solid #FF6200;
      border-bottom: 2px solid #FF6200;
      border-radius: 0px 0px 10px 0px;
      width: 13em;
      color: #FF6200 !important;
    }
    .nav-link{
      color: #ffffff;
      letter-spacing: 1px;
    }
  
  @media screen and (max-width: 1000px) {
    ion-split-pane{
        --side-width:12em !important;
      }
    // code permettant de donner une marge interne a notre projet sideBare sur APP
    .contenuTernaire{
      background-color: #000000;
      padding-left: 2em;
      width: 16em;
    }
    // code permettant de donner a notre iconEntreprise
    .iconEntreprise{
      margin-bottom: 15%;
    }
    // code permettant de donner a l'image des personnelle
    .blockImage{
      margin-bottom: 10%;
    }
    .contenuQuadrature{
      margin-bottom: 0%;
    }
    .contenuQuintenaire button{
      height: 2em;
      width: 10em;
      border-radius: 20px;
      margin-top: 25%;
    }
    .activate{
      border-right: 5px solid red;
      border-radius: 0px 0px 10px 0px;
      border-bottom: 2px solid red;
    }
    .nav-link:hover{
      border-right: 5px solid red;
      border-radius: 0px 0px 10px 0px;
      border-bottom: 2px solid red;
      width: 12.5em;
    }
  }