@font-face {
  font-family: myfon;
  src: url("../assets/font/Poppins-Black.ttf");
}

@font-face {
  font-family: myfon2;
  src: url("../assets/font/Poppins-Light.ttf");
}

ion-split-pane {
  --border: none !important;
  --side-width: 286px !important;

  ion-menu {
    --background: var(--ion-color-warning-contrast) !important;

    ion-content {
      --background: var(--ion-color-warning-contrast) !important;

      ion-item {
        --background: var(--ion-color-warning-contrast) !important;
        --color: #FFFFFF !important;

        letter-spacing: 2px;

        ion-icon {
          padding-right: 5px !important;
        }

        ion-grid {
          ion-row {

            ion-col {

              // style appliquer au nom d'utilisateur
              .imageUtilisateur {
                height: 100px;
                width: 100px;
                border-radius: 50%;

              }
            }
          }
        }

      }
    }
  }

  .imageEntreprise {
    position: relative;
    left: 10px;
    top: 2px;
  }

  .imageUtilisateur {
    position: relative;
    width: 100px;
    height: 100px;
    left: 25px;
    border-radius: 50px;
  }

  // style appliquer a un nom d'utilisateur 
  .nomUtilisateur {
    font-family: myfon;
    position: relative;
    width: 248px;
    height: 36px;
    left: -20px !important;
    top: 5px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #FF6200;

  }

  .statusUtilisateur {
    font-family: myfon;
    position: relative;
    width: 248px;
    height: 36px;
    left: -15px !important;
    top: 3px;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
  }

  // la taille des lien par defaut
  .lienPage {
    font-size: medium !important;
    font-style: normal;
    font-weight: bold;
    font-family: myfon2;
    padding: 2px;
    padding-left: 25px;

  }

  .item {
    position: relative;
    left: 20px;
  }

  .iconStyle {
    width: 25px;
  }

  // la couleur de l'icon par defaut
  ion-icon {
    color: #ffffff;
  }

  // syle apliquer a une icon une fois active
  .iconStyleA{
    display: none;
  }
  .active-item .iconStyleA {

    display: inline;
  }
  .active-item .A{
    display: none;
  }

  // style appliquer a un lien une fois active
  .active-item {
    border-bottom: #FF6200 2px solid;
    border-right: #FF6200 5px solid;
    border-radius: 0px 0px 10px 0px;
    color: #FF6200 !important;
  }

  // style appliquer au button de deconnexion
  .butonDeconnexion {
    --background: #FF6200 !important;
    --color: #FFFFFF !important;
    margin-top: 50px !important;
  }

}



// style appliquer lorsquer la largeur de l'ecran est inferieur a 600px
@media screen and (max-width: 600px) {
  // .lienPage {
  //   font-size: small !important;
  // }

  // .nomUtilisateur {
  //   font-size: large;
  // }

  // ion-icon {
  //   font-size: medium !important;
  // }

  // .butonDeconnexion {
  //   height: 2em;
  //   width: 10em;
  //   position: relative;
  //   left: 40px;
  // }
  .imageEntreprise {
    position: static;

  }

  .imageUtilisateur {
    position: static;
    width: 100px;
    height: 100px;

    border-radius: 50px;
  }

  // style appliquer a un nom d'utilisateur 
  .nomUtilisateur {
    font-family: myfon;
    position: static;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;

    /* identical to box height */

    text-align: center;

    color: #FF6200;

  }

  .statusUtilisateur {
    font-family: myfon;
    position: static;

    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
  }

  // la taille des lien par defaut
  .lienPage {
    font-size: small !important;
    font-style: normal;
    font-weight: bold;
    font-family: myfon2;
    padding: 2px;
    padding-left: 25px;

  }

  .item {
    position: static;
  }

  .iconStyle {
    width: 20px;
  }

  // la couleur de l'icon par defaut
  ion-icon {
    color: #ffffff;
  }

  // syle apliquer a une icon une fois active
  .active-item ion-icon {

    color: #FF6200 !important;
  }



}