<ion-header>
  <ion-toolbar>
    <ion-title>addsalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <body>
    <div class="userbox">
      <div class="card-heading">
        <h2 class="title">FORMULAIRE D’ENREGISTREMENT D’UNE SALLE DE ODC</h2>
      </div>
    <form>
        <div class="inputbox">
            <input type="text" id="name" name="user_name" placeholder="NOM SALLE">
        </div>
        <div class="inputbox">
          <input type="number" id="etage" name="etage" placeholder="ETAGE">
        </div>
        <div class="inputbox">
          <div class="box">
            <select>
              <option><span>DISPONIBILITE</span></option>
              <option>DISPONIBLE</option>
              <option>INDISPOSIBLE</option>
            </select>
          </div>
        </div>
        <div class="inputbox">
          <input type="text" name="description" placeholder="DESCRIPTION">
        </div>
      <div class="button">
        <div class="button-left"><button>FERMER</button></div>
        <div class="button-right"><button>ENREGISTRER</button></div>
      </div>
    
      
      
      
    </form>
    </div>
  </body>
</ion-content>
