<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter rôle</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<!-- code html permettant d'ajouer une nouvelle role -->
<ion-content>
  <div class="container">
    <h5 class="card-title text-center"> Création de role et attribution des droits </h5>
    <div class="card">
      <div class="card-body text-start">
        <form>

          <div class="row mb-3">
            <div class="col-12 col-lg-6 mx-auto">
              <div for="exampleFormControlInput1" class="">Libelle role *</div>
              <input type="email" class="form-control" [(ngModel)]="libelleRole" name="libelleRole"
                id="exampleFormControlInput1" placeholder="Orange digital kalanso">
            </div>
          </div>
          <ul class="timeline">
            <li class="timeline">
              <div class="icon done"></div>
              <details class="panel">

                <summary> Droit de Lecture</summary>

                <div class="row">
                  <div class="col">
                    <div class="notification" > 
                      <select class="form-select form-select-md" aria-label=".form-select-sm example" [(ngModel)]="readEntite" name="readEntite" >
                        <option >
                          <ion-icon name="funnel-outline" slot="start"></ion-icon>Filtrer par Entité
                        </option>
                        <option *ngFor="let create of TousLesDroits" > <span *ngIf="create.libelle.split(' ')[0] == read">{{create.description}}</span></option>
              
                      </select>
                      <div class="row iconLabel mb-3">
                        <div class="col">
                          <label class="switch">
                            <input type="checkbox" [(ngModel)]="readEntite" name="readEntite">
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <!-- <div class="col icon_mail" *ngIf="create.libelle.split(' ')[0] == read">par mail </div> -->
                      </div>

                    </div>
                  </div>
                </div>
              </details>

            </li>

            <li class="timeline">
              <div class="icon done"></div>
              <details class="panel">
                <summary> Droit de creation</summary>
                <div class="row" *ngFor="let create of TousLesDroits">
                  <div class="col">
                    <div class="notification" *ngIf="create.libelle.split(' ')[0] == creation"> {{create.description}}
                      <div class="row iconLabel mb-3">
                        <div class="col"> <label class="switch">
                            <input type="checkbox" [(ngModel)]="createEntite" name="createEntite">
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <div class="col icon_mail" *ngIf="create.libelle.split(' ')[0] == creation">par mail </div>
                      </div>
                    </div>
                  </div>
                </div>
              </details>
            </li>
            <li class="timeline">
              <div class="icon done"></div>
              <details class="panel">
                <summary>Droits de mise à jours </summary>
                <div class="row" *ngFor="let create of TousLesDroits">
                  <div class="col">
                    <div class="notification" *ngIf="create.libelle.split(' ')[0] == update"> {{create.description}}
                      <div class="row iconLabel mb-3">
                        <div class="col"> <label class="switch">
                            <input type="checkbox" [(ngModel)]="updateEntite" name="updateEntite">
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <div class="col icon_mail" *ngIf="create.libelle.split(' ')[0] == update">par mail </div>
                      </div>
                    </div>
                  </div>
                </div>
              </details>
            </li>
            <li class="timeline">
              <div class="icon done"></div>
              <details class="panel">
                <summary>Droits Suppression </summary>
                <div class="row" *ngFor="let create of TousLesDroits">
                  <div class="col">
                    <div class="notification" *ngIf="create.libelle.split(' ')[0] == supprimer"> {{create.description}}
                      <div class="row iconLabel mb-3">
                        <div class="col"> <label class="switch">
                            <input type="checkbox" [(ngModel)]="deleteEntite" name="deleteEntite">
                            <span class="slider round"></span>
                          </label>
                        </div>
                        <div class="col icon_mail" *ngIf="create.libelle.split(' ')[0] == supprimer">par mail </div>
                      </div>
                    </div>
                  </div>
                </div>
              </details>
            </li>
          </ul>
          <div class="d-grid gap-2 col-6 text-center mx-auto mt-2">
            <button type="button" class="btn colorbutton2 btn-sm" (click)="postRole()">Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>








  <!--SECONDS METHODE PERMETTANT DE RECUPERER TOUTES LES DROITS-->
  <!--  -->
</ion-content>