<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-item lines="none" color="background-color: #FF6200;" style="background-color: #FF6200;">
      <ion-title slot="start" style="color: white;">Detail</ion-title>
      <ion-button slot="end"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <img src="https://images.pexels.com/photos/7562313/pexels-photo-7562313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="center">
    <!-- <h3 class="ion-text-center">{{detailpostulant.name.title}} {{detailpostulant.name.first}}</h3> -->
  
    <ion-item lines="none" color="background-color: #FF6200;" style="background-color: #FF6200;">
      <ion-label class="info" style="color: white;">Plus d'information sur la personne</ion-label> 
    </ion-item>


  <ion-list>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1" >Nom:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">DEMBELE</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Prenom:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">Idissa</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Date de naissance:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">12/12/1999</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Lieu de naissance:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">12/12/1999</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Genre:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">Masculin</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1" >Contact:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">+233 66577887</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Email:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">dembele@orangemali.com</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1" >Entite:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">Orange Digital Center</ion-label> 
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1" >Role:</ion-label>
      <ion-label slot="end" style="color: black;" class="taille2">Responsable</ion-label> 
    </ion-item>
  </ion-list>

  <div class="buttom">
    <div class="button1">
      <input class="but1" type="reset" value="MODIFIER" id="open-modal" expand="block" data-bs-toggle="modal" data-bs-target="#staticBackdrop" >
      
      <!-- <input class="but1" type="submit" value="SUPPRIMER" (click)="SupprimerPersonnel()"> -->
      <input class="but1" type="submit" value="SUPPRIMER" (click)="DeletePersonnel()">
    </div>
    <div class="button2">
      <!-- <input class="but2" type="submit" value="DESACTIVER" (click)="DesactiverPersonnel()"> -->
      <input class="but2" type="submit" value="DESACTIVER" (click)="DPersonnel()">
    </div>
  </div>
  <!-- <div>
    <p>{{ message }}</p>
  </div> -->
 

  <!-- (click)="ModifierPersonnel()" -->
<ion-content>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header class="ion-padding">
        <ion-toolbar>
        
          <ion-title>Modification du personnel</ion-title>
          
        </ion-toolbar>
      </ion-header>
      <ion-content >
       
<div class="container">
  <form action="#">
    <!-- <button type="button" class="btn-close"  (click)="modal.dismiss()" data-bs-dismiss="modal" aria-label="Close"></button> -->
    <div class="box">
      <h1>Modifier personnel</h1>
          <div class="ajout">
              <div class="input-box">
                  <span class="details">Nom *</span>
                  <input type="text" placeholder="Nom du personnel">
              </div>
              <div class="input-box">
                <span class="details">Email *</span>
                <div class="mail">
                  <input type="text" placeholder="loremipsun" id="inp">
                  <div style="width: 270px;">
                  <select name="tchoixsalle" class="mailmodel">
                    <option value="">@orangefablab.com</option>
                    <option value="">@orangemali.com</option>
                    <option value="">@orangedigitalcenter.com</option>
                  </select>
                </div>
                </div>
              </div>
              <div class="input-box">
                <span class="details">Prénom *</span>
                <input type="text" placeholder="Prénom du personnel">
              </div>
              <div class="input-box">
                <span class="details">Date de naissance *</span>
                <input type="date" placeholder="La date de naissance">
              </div>
              <div class="input-box">
                <span class="details">Contact *</span>
                <input type="text" placeholder="Numéro du personnel">
              </div>
              <div class="input-box">
                <span class="details">Lieu de naissance *</span>
                <select name="tchoixsalle" class="select">
                  <option value="">Bamako</option>
                  <option value="">Sikasso</option>
                  <option value="">Segou</option>
                  <option value="">Mopti</option>
                  <option value="">Kayes</option>
                  <option value="">Koulikoro</option>
                  <option value="">Gao</option>
                  <option value="">Kidal</option>
                </select>
             </div>
              <div class="input-box">
                  <span class="details">Entité *</span>
                  <select name="tchoixsalle" class="select">
                    <option value="">Orange Digital Kalanso</option>
                    <option value="">Orange FabLab</option>
                  </select>
              </div>
              <div class="input-box">
                <span class="details">Genre *</span>
                <select name="tchoixsalle" class="select">
                  <option value="">Homme</option>
                  <option value="">Femme</option>
                </select>
            </div>
            <div class="input-box">
              <span class="details">Rôle *</span>
              <select name="tchoixsalle" class="select">
                <option value="">Administrateur</option>
                <option value="">Responsable</option>
                <option value="">Utilisateur</option>
              </select>
          </div>
          </div>
    </div>
    <div class="button">
      <ion-buttons slot="start">
        <ion-button (click)="cancel()" class="but">Annuler</ion-button>
      </ion-buttons>
      <!-- <input class="but" type="submit" (click)="modal.dismiss()" value="Annuler"> -->
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true" class="but">Modifier</ion-button>
      </ion-buttons>
     
    </div>

    
  </form>
</div> 
        <!-- <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name"></ion-input>
        </ion-item> -->
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>  




<!-- 
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>   -->

  </ion-content>
  

