img{
    margin-top: 10px;
    width: 36px;
}

.center{
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 400px;
    width: 420px;
}
.info{
    text-align:center;
}
ion-list{
    padding: 0% 20% 0% 20%;
}

ion-label{
    font-weight: bolder;
}

ion-content{
    --ion-background-color: #ffff;
}

.buttom{
    padding: 0% 20% 0% 20%;
    display: flex;
    flex-direction: row;
}
.button1{
    display: flex;
    flex-direction: row;
    padding-bottom: 2em;
}

.but1, .but2{
    font-family: '!important';
    letter-spacing: 2px;
    padding: 10px;
    margin-right: 4em;
    margin-top: 3em;
    margin-bottom: 3em;
    border: 1px solid #FF6200;
    border-radius: 15px;
    background-color: #FF6200;
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.but1:hover, .but2:hover{
    background-color: #ffff;
    color: #FF6200;
    border: 1px solid #FF6200;
}

@media only screen and (max-width: 1106px) {
    ion-list{
        padding: 0% 10% 0% 10%;
    }
}

@media only screen and (max-width: 1024px) {
    ion-list{
        padding: 0% 20% 0% 20%;
    }
    ion-list{
        padding: 0% 10% 0% 10%;
    }
    .but1, .but2{
        letter-spacing: 1px;
        margin-right: 2em;
        padding: 10px;
    }
}
@media only screen and (max-width: 640px) {
   
    .but1, .but2{
        margin-right: 1em;
        padding: 6px;
    }
    ion-list{
        padding: 0px;
       
    }
    .buttom{
        padding: 0% 10% 0% 10%;
    }
    .taille2{
        font-size: 16px; 
    }
   
    ion-label{
        margin-right: 10px;
    }
}
@media only screen and (max-width: 460px) {
    .but1, .but2{
        margin-right: 6px;
        padding: 6px;
        font-size: 18px;
    }
    ion-list{
        padding: 0px;
    }
    .buttom{
        padding: 0% 5% 0% 5%;
    }
    .taille2{
        font-size: 13px; 
    }
}

@media only screen and (max-width: 414px) {
    .buttom{
        padding: 0% 5% 0% 5%;
        display: flex;
        flex-direction: row;
    }
    .buttom1{
        height: 20px;
        margin-bottom: 2em;
    }
    .but1, .but2{
       padding: 10px;
       font-size: 13px;
    }
}

@media only screen and (max-width: 316px) {
    .buttom{
        padding: 0% 5% 0% 5%;
        display: flex;
        flex-direction: column;
    }
    .button1{
        height: 50px;
        margin-left: 10px;
       
    }
    .button2{
        margin-left: 10px;
        
    }
    .but1{
        margin-right: 20px;
        height: 40px;
        padding: 10px;
        font-size: 10px;
     }
     .but2{
        height: 40px;
        padding: 10px;
        font-size: 10px;
     }
    .info{
        text-align:center;
        font-size: 12px;
    }
    .taille2{
        font-size: 12px; 
    }
    .taille1{
        font-size: 16px;
    }
    ion-label{
        margin-right: 10px;
    }
    ion-list{
        padding: 0px;
    }
 
   
}





// les style appliquer au modal 
.text{
    font-family: myfon2;
    font-size: 25px;
    font-weight: 700;
  
  }
  .colorbutton1{
    background-color: rgba($color: #001AFF, $alpha: .85);
    color: #ffff;
    padding: 5px;
    border-radius: 10px;
  }
  .colorbutton2{
    background-color:  rgba($color: #009E2C, $alpha: .85);
    color: #ffff;
    padding: 5px;
    border-radius: 10px;
  }
  .colorbutton3{
    background-color:  rgba($color: #FF0000, $alpha: .85);
    color: #ffff;
    padding: 5px;
    border-radius: 10px;
  }
  .colorbutton1:hover{
    background-color: rgba($color: #ffff, $alpha: .85);
    color: #001AFF;
    border: 1px solid #001AFF;
  }
  .colorbutton2:hover{
    background-color:  rgba($color: #ffff, $alpha: .85);
    color: #009E2C;
    border: 1px solid #009E2C;
  }
  .colorbutton3:hover{
    background-color:  rgba($color: #ffff, $alpha: .85);
    color: #FF0000;
    border: 1px solid #FF0000;
  }
  ion-modal{
    --height:auto !important;
    --border-radius: 15px;
     --width: 30em;
  }
 