<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detail personnels</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

  <img *ngIf="image!=null" src={{image}} class="center" alt="Image du personnel">
  <img *ngIf="image==null" src="https://images.pexels.com/photos/7562313/pexels-photo-7562313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="center" alt="Image du personnel">

  <!-- <img
    src="https://images.pexels.com/photos/7562313/pexels-photo-7562313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    class="center"> -->
  <!-- <h3 class="ion-text-center">{{detailpostulant.name.title}} {{detailpostulant.name.first}}</h3> -->

  <ion-item lines="none" color="background-color: #FF6200;" style="background-color: #FF6200;">
    <ion-label class="info" style="color: white;">Plus d'information sur la personne</ion-label>
  </ion-item>


  <ion-list>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Nom:</ion-label>
      <ion-label style="color: black;" class="taille2">{{ nom }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Prenom:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{ prenom }}</ion-label>
    </ion-item>
    <!-- <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Date de naissance:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">12/12/1999</ion-label>

 [(ngModel)]="name"

    </ion-item> -->
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Lieu de naissance:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">Bamako</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Genre:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2" >{{ genre }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Contact:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">+233 66577887</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Email:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{ email }}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Entite:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{nomEntite}}</ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label slot="start" style="color: black;" class="taille1">Role:</ion-label>
      <ion-label slot="" style="color: black;" class="taille2">{{statusUser}}</ion-label>
    </ion-item>
  </ion-list>

  <div class="buttom">
    <div class="button1">

      <!-- <input class="but1" type="reset" value="MODIFIER" id="open-modal" expand="block" data-bs-toggle="modal" data-bs-target="#staticBackdrop" > -->
      <button class="btn buttonColor"  class="but1" id="open-modal" type="button"  >+ &nbsp; Modifier</button>
      <!-- <ion-button  class="btn buttonColor"  class="but1" id="open-modal" (click)="confirm()" [strong]="true">Confirm</ion-button> -->
       <!-- <input class="but1" type="submit" value="SUPPRIMER" (click)="SupprimerPersonnel()"> -->
      <input class="but1" type="submit" value="SUPPRIMER" (click)="DeletePersonnel()">

      <!-- <input class="but1" type="reset" value="MODIFIER" (click)="ModifierPersonnel()" data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"> -->
      
    </div>
    <div class="button2">
      <!-- <input class="but2" type="submit" value="DESACTIVER" (click)="DesactiverPersonnel()"> -->
      <input class="but2" type="submit" value="DESACTIVER" (click)="DPersonnel()">
    </div>
  </div> 
  <div class="row">
    <!-- <div class="col-lg-3 col-12">
      <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-start">
        <select class="form-select form-select-md" aria-label=".form-select-sm example">
          <option selected>
            <ion-icon name="funnel-outline" slot="start"></ion-icon>Filtrer par entité
          </option>
          <option value="1">ODC</option>
          <option value="2">ODK</option>
          <option value="3">FABLAB</option>
          <option value="3">ORANGE FAB</option>
        </select>
      </div>

    </div> -->
    <div class="col-lg-9 col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-center">
        <button class="btn buttonColor" type="button">+ &nbsp; Modifier</button>
        <button class="btn buttonColor" type="button">+ &nbsp; Supprimer</button>
        <button class="btn buttonColor" type="button">+ &nbsp; Desactiver</button>
      </div>
    </div>
  </div>

  <!-- <div>
    <p>{{ message }}</p>
  </div> -->
 

  <!-- (click)="ModifierPersonnel()" -->
  
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <!-- <ion-header class="ion-padding">
        <ion-toolbar>
        
          <ion-title>Modification du personnel</ion-title>
          
        </ion-toolbar>
      </ion-header> -->

    
<div class="container">
  <form action="#">
    
    <div class="box">
      <button type="button" class="btn-close"  (click)="cancel()" data-bs-dismiss="modal" aria-label="Close"></button>
      <h1>Modifier personnel</h1>
          <div class="ajout">
              <div class="input-box">
                  <span class="details">Nom *</span>
                  <input type="text" placeholder="Nom du personnel">
              </div>
              <div class="input-box">
                <span class="details">Email *</span>
                <div class="mail">
                  <input type="text" placeholder="loremipsun" id="inp">
                  <div style="width: 270px;">
                  <select name="tchoixsalle" class="mailmodel">
                    <option >--Choisisez un domaine--</option>
                    <option *ngFor="let domaine of formatMailperonnel" >{{domaine.libelle}}</option>
                    <!-- formatMail
                    <option value="">@orangefablab.com</option>
                    <option value="">@orangemali.com</option>
                    <option value="">@orangedigitalcenter.com</option> -->
                  </select>
                </div>
                </div>
              </div>
              <div class="input-box">
                <span class="details">Prénom *</span>
                <input type="text" placeholder="Prénom du personnel">
              </div>
              
              <div class="input-box">
                <span class="details">Telephone *</span>
                <input type="text" placeholder="Numéro de telephone">
              </div>
              <div class="input-box">
                <span class="details">Lieu de naissance *</span>
                <select name="tchoixsalle" class="select">
                  <option value="">Bamako</option>
                  <option value="">Sikasso</option>
                  <option value="">Segou</option>
                  <option value="">Mopti</option>
                  <option value="">Kayes</option>
                  <option value="">Koulikoro</option>
                  <option value="">Gao</option>
                  <option value="">Kidal</option>
                </select>
             </div>
              <div class="input-box">
                  <span class="details">Entité *</span>
                  <select name="tchoixsalle" class="select">
                    <option >--Choisisez une entité--</option>
                    <option *ngFor="let entite of Entites" >{{entite.libelleentite}}</option>
                  </select>
              </div>
              <div class="input-box">
                <span class="details">Genre *</span>
                Masculin
                 
                <!-- <select name="tchoixsalle" class="select">
                    <option >--Votre genre--</option>
                    <option *ngFor="let alluser of AllUser" >{{alluser.genre}}</option>
                </select> -->
            </div>
            <div class="input-box">
              <span class="details">Rôle *</span>
              <select name="tchoixsalle" class="select">
                <option value="">--Choisisez un role--</option>
                <option *ngFor="let role of Roles" >{{role.libellerole}}</option>
              </select>
          </div>
          </div>
    </div>
    <div class="button">
      <ion-buttons slot="start">
        <ion-button (click)="cancel()" class="but">Annuler</ion-button>
      </ion-buttons>
      <!-- <input class="but" type="submit" (click)="modal.dismiss()" value="Annuler"> -->
      <ion-buttons slot="end">
        <ion-button (click)="confirmP()" [strong]="true" class="but">Modifier</ion-button>
      </ion-buttons>
    </div>

    
  </form>
</div> 
        <!-- <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name"></ion-input>
        </ion-item> -->
    </ng-template>
  </ion-modal>




<!-- 
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>   -->




  <!-- <ion-modal #modal trigger="open-modal">
    <ng-template>
      <div class="container">
        <h5 class="card-title text-center"> Création de role et attribution des droits </h5>
        <div class="card">
          <div class="card-body text-start">
            <div class="box">
              <div class="ajout">
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Nom *</span>
                      <input type="text" placeholder="Nom du personnel">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Email *</span>
                      <div class="mail">
                        <input type="text" placeholder="loremipsun" id="inp"> -->
                        <!-- <span class="input-group-text" aria-label="fin de mail">@orangemali.com</span> -->
                        <!-- <div style="width: 270px;">
                          <select name="tchoixsalle" class="mailmodel">
                            <option value="">@orangefablab.com</option>
                            <option value="">@orangemali.com</option>
                            <option value="">@orangedigitalcenter.com</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Prénom *</span>
                      <input type="text" placeholder="Prénom du personnel">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Date de naissance *</span>
                      <input type="date" placeholder="La date de naissance">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Contact *</span>
                      <input type="text" placeholder="Numéro du personnel">
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Lieu de naissance *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Bamako</option>
                        <option value="">Sikasso</option>
                        <option value="">Segou</option>
                        <option value="">Mopti</option>
                        <option value="">Kayes</option>
                        <option value="">Koulikoro</option>
                        <option value="">Gao</option>
                        <option value="">Kidal</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Entité *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Orange Digital Kalanso</option>
                        <option value="">Orange FabLab</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Genre *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Homme</option>
                        <option value="">Femme</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="input-box">
                      <span class="details">Rôle *</span>
                      <select name="tchoixsalle" class="select">
                        <option value="">Administrateur</option>
                        <option value="">Responsable</option>
                        <option value="">Utilisateur</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal> -->

</ion-content>