// img {
//   width: 70px;
//   height: 60px;
//   border-radius: 50px !important;
//   border-color: aqua;
//   margin: 5px;
//   margin-right: 40px;
//   box-shadow: 0px 0px 20px black;
// }

.circleblack {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: black;
  margin-bottom: 2px;
}

.circlewhite {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2px;
}

.circleorange {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: #FF6200;
  margin-bottom: 2px;

}

.buttonAjouterActiviter {
  background: #FF7900;
  border-radius: 15px;
  font-size: 40px;
  width: 84px;
  font-weight: bolder;
  color: #ffff !important;
}

.image {
  width: 193px;
  height: 270px;
}

.nomActivite {
  font-size: 12px;
  font-weight: bold;
}

.Date {
  font-size: 10px;
  font-weight: bold;
}

// style appliquer au classe a monLead
.nomLead {
  font-size: 10px;
}

// style appliquer a monlead
.titleButton {
  display: none;
}

// style appliquer au button lorquer la page atteint 600px
@media screen and (max-width: 600px) {
  .titleButton {
    display: inline;
  }
}

// .imageMarge{
//   margin-left: 25px;
// }
// .buttonMarge{
//   margin-left: 25px;
// }

// style sur les button aranger HORIZONTALEMENT
@font-face {
  font-family: myfon;
  src: url("../../assets/font/Poppins-Black.ttf");
}

@font-face {
  font-family: myfon2;
  src: url("../../assets/font/Poppins-Light.ttf");
}
.form-select{
  color: #FF7900;
  border: 1px solid #FF7900;
  border-radius: 15px;
}
.form-select:focus {
  box-shadow: 0px 0px 0px;
  font-family: myfon2;
  color: #FF7900;
}

.buttonColor {
  background-color: #FF7900;
  color: #ffff;
  font-family: myfon2;
  border-radius: 15px;
}

.buttonColor:hover {
  border: 1px solid #FF7900;
  color: #FF7900;
}

// Style appliquer au tableau
td{
  font-family: myfon2;
}
th{
  font-family: myfon2;
  color: #ffff !important;
    font-weight: 600;
}
thead{
  background-color: #FF7900;
}
.voirPlus{
  background-color: #FF7900;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  color: #ffff;
}
@media screen and (max-width: 900px) {
  .form-select{
    font-size: medium;
  }
  .buttonColor{
    font-size: medium;
    text-align: center;
  }
  .hideColonneOder{
    display: none;
  }
  th{
    font-size: medium;
    
  }
  td{
    font-size: small;
  }
  
}
@media screen and (max-width: 450px) {
  .buttonColor{
    font-size: small;
  }
  .hideColonne{
    display: none;
  }
  th{
    font-size: medium;
  }
  td{
    font-size: small;
  }
  
}

// les style appliquer au modal 
.text{
  font-family: myfon2;
  font-size: 25px;
  font-weight: 700;
  
}
.colorbutton1{
  background-color: rgba($color: #001AFF, $alpha: .85);
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
}
.colorbutton2{
  background-color:  rgba($color: #009E2C, $alpha: .85);
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
}
.colorbutton3{
  background-color:  rgba($color: #FF0000, $alpha: .85);
  color: #ffff;
  padding: 5px;
  border-radius: 10px;
}
.colorbutton1:hover{
  background-color: rgba($color: #ffff, $alpha: .85);
  color: #001AFF;
  border: 1px solid #001AFF;
}
.colorbutton2:hover{
  background-color:  rgba($color: #ffff, $alpha: .85);
  color: #009E2C;
  border: 1px solid #009E2C;
}
.colorbutton3:hover{
  background-color:  rgba($color: #ffff, $alpha: .85);
  color: #FF0000;
  border: 1px solid #FF0000;
}
ion-modal{
  --height:12em !important;
  --border-radius: 15px;
  // --width: 30em;
}