<ion-header>
  <ion-toolbar>
    <ion-title>detailEntite</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1></h1>
  </div>

  <div id="conteneur">
    <div class="Titre">
      <h1>Nom Entite</h1>
    </div>
    <div class="Part1">
      <div class="cadre1">
        <div class="text">
          <h4>Nombre d'activité realisées</h4>
        </div>
        <div class="nbST"><strong>20</strong>
        </div>
        <div class="voirBut"><button>Voir plus</button></div>
      </div>
      <div class="cadre2"></div>
    </div>
    <div class="Part2">Part2</div>
    <div class="Part3">Part3</div>
</div>
</ion-content>
