<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="row">


    <div class=" col-sm-3 col-md-3 col-6 ">
      <ion-card class="rou">
        <ion-card-header>
          <ion-card-title class="text-center">Card Title</ion-card-title>
          <div class="text-center image">
            <img class="img" src="../../assets/inconnu.png" alt="" srcset="">
            <ion-card-subtitle class="rou1 text-center">Card Title</ion-card-subtitle>
          </div>
          <div class="icon text-center">
            <img class="imageIcon" src="../../assets/icon/hypermetropie.png" alt="" srcset="">
            <img class="imageIcon" src="../../assets/icon/modifier-le-fichier.png" alt="" srcset="">
            <img class="imageIcon" src="../../assets/icon/supprimer.png" alt="" srcset="">
          </div>
        </ion-card-header>

        <ion-card-content>

          <div class="content">Date: </div>

          <div class="content">Durée: </div>

          <div class="content">Lead: </div>

          <div class="content">Créer par: </div>

          <div class="content">Formateur(s):</div>
          <div class="contentSalle text-center">Salle</div>
        </ion-card-content>
      </ion-card>

    </div>


  </div>


</ion-content>
