<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header" >
    <div class="image">
      <img  src="../../assets/icon/Orange.png" alt="logoooo">
    </div>

    <div class="monform">
      <div class="imgsmall">
        <img src="../../assets/icon/Orange.png" alt="logo">
      </div>
      <p> <b>Connexion</b></p>
      <form>
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Entrer votre nom d'utilisateur </label> -->
          <ion-input type="email" class="form-control" [(ngModel)]="login" name="login" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Identifiant"></ion-input>
        </div>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Entrer votre Mot de passe</label> -->
          <ion-input type="password" class="form-control" [(ngModel)]="password" name="password" id="exampleInputPassword1" placeholder="Mot de passe"></ion-input>
        </div>
        <ion-label id="erreur" *ngIf="error">{{erreur}}</ion-label>
        <button type="submit" id="btnn" class="btn" (click)="logForm()">Se connecter</button>

        <a class="lienPass">Mots de passe oublié !</a>
      </form>
    </div>

  </div>


</ion-content>

