<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="header" >
    <div class="image">
      <img  src="../../assets/icon/Orange.png" alt="logoooo">
    </div>

    <div class="monform">
      <div class="imgsmall">
        <img src="../../assets/icon/Orange.png" alt="logo">
      </div>
      <p> <b>Mot de passe oublié!</b></p>
      <form>
        <div class="mb-3">
          <!-- <label for="exampleInputEmail1" class="form-label">Entrer votre email </label> -->
          <ion-input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrer votre email "></ion-input>
        </div>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Entrer votre nouveau Mot de passe</label> -->
          <ion-input type="password" class="form-control"  name="password" id="exampleInputPassword1" placeholder=" Entrer le nouveau mot de passe"></ion-input>
        </div>
        <div class="mb-3">
          <!-- <label for="exampleInputPassword1" class="form-label">Comfirmer le Mot de passe</label> -->
          <ion-input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder=" Comfirmer le  mot de passe"></ion-input>
        </div>
        <button type="submit" id="btnn" class="btn" >Valider</button>

       
      </form>
    </div>

  </div>


</ion-content>

