<ion-header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="row">
            <div class="col">
                <ion-title style="color: #FF7900;margin-top:7px; margin-left: 10px;">Creer une Salle</ion-title>
            </div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col" style="width: 100%; color:#FF7900; font-size: 30px;"><i class="fa-regular fa-bell"></i></div>
        </div>
    </ion-toolbar>
   
</ion-header>

<ion-content>
    <div class="container">
        <div class="col">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6" class="principal">

                    <div class="col" class="title">Nouvelle Salle </div><br>

                    <form action=" ">
                        <div class="row">
                            <div class="col">
                                <label>Nom *</label>
                                <input type="text" id="inputs" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <label>Niveau *</label>
                                <input type="text" id="inputs" required>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <label>Entité *</label>
                                <input type="text" id="inputs" required>
                            </div>
                        </div><br>


                        <div class="row">
                            <div class="col">
                                <button> Enregistrer </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</ion-content>