<ion-header>
  <ion-toolbar>
    <ion-title style="color: #FF7900;;">Detail Entite</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <div class="premier">
    <div class="firstP1">
      <div class="text">
        <span>Nombre d'activité</span>
        <div class="nbre">20</div>
        <button>Voir plus</button>
      </div>
    </div>

    <div class="firstP2">
       <div class="text">
        <span>Total personnel</span>
        <div class="nbre">20</div>
        <button>Voir plus</button>
      </div>
    </div>

    <div class="firstP3">
      <div class="text">
        <span>Apprenants formées</span>
        <div class="nbre">520</div>
        <button>Voir plus</button>
      </div>
    </div>

  </div>

  <div class="deuxieme">
    <div class="spV">
      <div>Orange Digital Kalanso</div>
      <div class="horizon"></div>
      <span class="postImg"><img src="assets\img\odk.jpeg" alt="" class="photo"></span>
      <span class="postText"></span>
    </div>
    <div class="textH">
      Orange Digital Kalanso est une école du code, centre à
      vocation technologique qui propose des formations sur les
      métiers du numérique et des animations.
    </div>
    <div class="textB">
      <div class="resp">Responsable</div>
      <div class="horizonB"></div>
      <span>Hamadoun Kaou DIALLO <br> Responsable ODK</span>
    </div>
    <div>

    </div>
    
  </div>

  <div class="troisieme">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">N°</th>
          <th scope="col">Libelle</th>
          <th scope="col">Formateur</th>
          <th scope="col">Salle</th>
          <th scope="col">Date debut</th>
          <th scope="col">Date fin</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
          <td>Liste1</td>
        </tr>
      </tbody>
    </table>
    
  </div>

</ion-content>
