.firstP1{
    background-color: black;
    width: 30%;
    height: 32%;
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 20px;

}
span{
    
    color: white;
    font-family: ui-sans-serif;
    font-size: larger;
    
}
.text{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
    margin-top: 2%;
    text-align: center;
}
.nbre{
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
}
.firstP2{
    background-color: black;
    width: 30%;
    height: 32%;
    position: absolute;
    margin-top: 2%;
    margin-left: 35%;
    border-radius: 20px;
}

.firstP3{
    background-color: black;
    width: 30%;
    height: 32%;
    position: absolute;
    margin-top: 2%;
    margin-left: 68%;
    border-radius: 20px;
   
}
button{
    background-color: #FF7900;
    border-radius: 5px;

}


.deuxieme{
    background-color: black;
    width: 96%;
    height: 315px;
    position: absolute;
    margin-top: 21%;
    margin-left: 2%;
    border-radius: 12px;
}

.troisieme{
    width: 96%;
    height: 50%;
    position: absolute;
    margin-top: 48%;
    margin-left: 2%;
}
.horizon{
    text-decoration: underline;
    border-bottom: 2px solid;
    width: 60%;
    margin-top: 10px;
}
.photo{
    height: 250px;
    width: 300px;
    object-fit: contain;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0);
    margin-left: 3px;
    margin-top: 12px;
}

.spV{
    color: #FF7900;
    margin-top: 9px;
    margin-left: 1%;
}

.textH{
    color: white;
    margin-top: -248px;
    margin-left: 344px;
}
.textB{
    color: white;
    margin-left: 343px;
    margin-top: 100px;

}
.horizonB{
    text-decoration: underline;
    border-bottom: 2px solid;
    width: 20%;
    margin-top: 10px;
    color: #FF7900;
}
.resp{
    margin-left: 30px;
}


/*
@media screen and (max-width: 390px) { 
    .table{
        margin-top:  153px;
    }
    .deuxieme{
        width: 370px;
        height: 255px;
        position: absolute;
        margin-top: 155px;
        margin-left: 2%;
        border-radius: 12px;
    }
    .spV{
        color: #FF7900;
        margin-top: 9px;
        margin-left: 3%;
        width: 80px;
    }
    .photo{
        height: 215px;
        width: 308px;
        object-fit: contain;
        border-radius: 20px;
        border: 1px solid rgba(0, 0, 0, 0);
        margin-left: -2px;
        margin-top: -34px;
    }
    .textH{
        color: white;
        margin-top: -150px;
        margin-left: 117px;
        width: 245px;
    }
    .textB{
        margin-top: -233px;
        margin-left: 41%;
        width: 354px;

    }
    .nbre{
        font-size: 20px;
    }

    .horizonB{
        text-decoration: underline;
        border-bottom: 2px solid;
        width: 20%;
        margin-top: 10px;
        color: #FF7900;
        margin-left: 11%;
        
    }
    .text{
        font-family: "Times New Roman", Times, serif;
        font-size: large;
        margin-top: 2%;
        text-align: center;
    }
    .firstP3{
        background-color: black;
        width: 30%;
        height: 17%; 
        position: absolute;
        margin-top: 2%;
        margin-left: 68%;
        border-radius: 20px;
    }
    .firstP2{
        background-color: black;
        width: 30%;
        height: 17%;
        position: absolute;
        margin-top: 2%;
        margin-left: 35%;
        border-radius: 20px;
    }
    .firstP1{
        background-color: black;
        width: 30%;
        height: 17%;
        position: absolute;
        margin-top: 2%;
        margin-left: 2%;
        border-radius: 20px;
    }
    .troisieme{
        width: 96%;
        height: 50%;
        position: absolute;
        margin-top: 67%;
        margin-left: 2%;
    }


    @media screen and (max-width: 1834px){
        .deuxieme{
            width: 1000px;
            height: 120px;
            position: absolute;
            margin-top: 150px;
            margin-left: 20%;
            border-radius: 12px;
    
        }
        .postImg{
            display: none;
        }
    
        .table{
            margin-top:  80px;
            
        }
        .spV{
            color: #FF7900;
            margin-top: 50px;
            margin-left: 450;
            width: 200px;
        }
            
        .textH{
            display: none;
        }
        .textB{
            color: #FF7900;
            margin-top: 9px;
            margin-left: 450;
            width: 600px;
         
        }

    }
}*/
