<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="row">
        <ion-title style="color: orangered;margin-left: 2rem;" class="title_page ion-text-uppercase" class="firsttitle" >Modifier personnel </ion-title>    
        <div class="col">
        </div>       
        <div class="col">
        </div>       
        <div class="col">
        </div>       
        <div class="col">
        </div>       
        <div class="col" style="width: 100%; color:#FF7900; font-size: 30px;">
          <i class="fa-regular fa-bell"></i>
        </div> 
      </div>
       
  </ion-toolbar>
</ion-header> 

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<ion-content>
  <div class="container">
    <!-- <ion-buttons slot="end">
      <ion-button (click)="modal.dismiss()">Close</ion-button>
    </ion-buttons> -->
    <form action="#">
      
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss()"></button>
      <div class="box">
        <h1>Modifier personnel</h1>
            <div class="ajout">
                <div class="input-box">
                    <span class="details">Nom *</span>
                    <input type="text" placeholder="Nom du personnel">
                </div>
                <div class="input-box">
                  <span class="details">Email *</span>
                  <div class="mail">
                    <input type="text" placeholder="loremipsun" id="inp">
                     <span class="input-group-text" aria-label="fin de mail">@orangemali.com</span> 
                    <div style="width: 270px;">
                    <select name="tchoixsalle" class="mailmodel">
                      <option value="">@orangefablab.com</option>
                      <option value="">@orangemali.com</option>
                      <option value="">@orangedigitalcenter.com</option>
                    </select>
                  </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">Prénom *</span>
                  <input type="text" placeholder="Prénom du personnel">
                </div>
                <div class="input-box">
                  <span class="details">Date de naissance *</span>
                  <input type="date" placeholder="La date de naissance">
                </div>
                <div class="input-box">
                  <span class="details">Contact *</span>
                  <input type="text" placeholder="Numéro du personnel">
                </div>
                <div class="input-box">
                  <span class="details">Lieu de naissance *</span>
                  <select name="tchoixsalle" class="select">
                    <option value="">Bamako</option>
                    <option value="">Sikasso</option>
                    <option value="">Segou</option>
                    <option value="">Mopti</option>
                    <option value="">Kayes</option>
                    <option value="">Koulikoro</option>
                    <option value="">Gao</option>
                    <option value="">Kidal</option>
                  </select>
               </div>
                <div class="input-box">
                    <span class="details">Entité *</span>
                    <select name="tchoixsalle" class="select">
                      <option value="">Orange Digital Kalanso</option>
                      <option value="">Orange FabLab</option>
                    </select>
                </div>
                <div class="input-box">
                  <span class="details">Genre *</span>
                  <select name="tchoixsalle" class="select">
                    <option value="">Homme</option>
                    <option value="">Femme</option>
                  </select>
              </div>
              <div class="input-box">
                <span class="details">Rôle *</span>
                <select name="tchoixsalle" class="select">
                  <option value="">Administrateur</option>
                  <option value="">Responsable</option>
                  <option value="">Utilisateur</option>
                </select>
            </div>
            </div>
      </div>
      <div class="button">
        <input class="but" type="submit" (click)="modal.dismiss()" value="Annuler">
        <input class="but" type="submit" value="Modifier">
      </div>

      
    </form>
</div> 
</ion-content>


<!-- 
<ion-content class="ion-padding">
  <ion-button id="open-modal" expand="block">Open</ion-button>
  <p>{{ message }}</p>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="stacked">Enter your name</ion-label>
          <ion-input type="text" placeholder="Your name" [(ngModel)]="name"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content> -->
