.container{
  display: grid;   
  grid-template-columns: 80% 18%;
  column-gap: 2%;
  height: 650px;
  height: 100%;
  background-color: #F2EDED;
  
}
.gauche{
  border-radius: 15px;
  background-color: white;
  padding: 1.5%;
  height: 100%;
  margin-top: 4%;
}

.gauche >table{
  margin-top: 2%;
  background-color: white;
}
.droite{
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
  padding: 1.5%;
  margin-top: 18%;
  height: 100%;
  
}

.labelContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  height: -webkit-fill-available;
}
img{
  border-radius: 15px;
 
}
.droite >.libelleListe{
  margin-top: 42%;

}
.droite >.dateImport{
  margin-top: 42%;
}

.searchBar{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  
}
.InputSearch{
  margin-top: 10px;
  width: 40%;
  display: flex;
  justify-content: center;
  height: 40px;
  background-color: #D9D9D9;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 30% 65%;
}
.InputSearch >svg{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
}
.InputSearch > input{
  border: 0;
  font-size: 20px;
  font-family: cursive;
  background-color: #D9D9D9;
}
.InputSearch >input:focus {
  border: 0;
}
td{
  font-family: myfon2;
}
th{
  font-family: myfon2;
  color: #ffff !important;
    font-weight: 600;
}
thead{
  background-color: #FF7900;
}
.voirPlus{
  color: #FF7900;
}
// table{
//   margin-top: 10%;
// }
@media screen and (max-width: 900px) {
  .form-select{
    font-size: medium;
  }
  .buttonColor{
    font-size: medium;
    text-align: center;
  }
  .hideColonneOder{
    display: none;
  }
  th{
    font-size: medium;

  }
  td{
    font-size: small;
  }

  .InputSearch > input{
    border: 0;
    font-size: 15px;
    font-family: cursive;
  }

}
@media screen and (max-width: 450px) {
  .buttonColor{
    font-size: small;
  }
  .hideColonne{
    display: none;
  }
  th{
    font-size: medium;
  }
  td{
    font-size: small;
  }

  .InputSearch > input{
    border: 0;
    font-size: 10px;
    font-family: cursive;
  }
  

}