<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Rôle</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <div class="col-sm-7 mx-auto">
    <header class="section-header text-center">
      <span class="h1 d-block">
        <span>❝</span>
      </span>
      <h2>Les Roles</h2>
    </header>
  </div> -->

  <div class="row">
    <div class="col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-end">
        <button class="btn buttonColor" type="button" routerLink="/dashboard/ajouter-role">+ &nbsp; Nouveau Role</button>
      </div>
    </div>
  </div>
  <div id="flex-container" class="testimonials">
    <div id="left-zone">
      <ul class="list">
        <li class="item" *ngFor="let inf of TousLesRole; let i = index">
          <input type="radio" id="{{i}}" name="basic_carousel" checked />
          <label class="label_testimonial" class="{{i}}" for="{{i}}">{{inf.libellerole}} </label>
          <div class="content-test content_testimonial">

            <!-- <h1>{{inf.entite}}</h1>
            <p>{{inf.descrription}}</p>
            <p class="testimonialFrom">{{inf.status}}</p>
            <p class="testimonialState"> {{inf.nom}} </p>
            <br> -->
            <p class="testimonialState"><button class="button">Voir+</button></p>
          </div>
        </li>
      </ul>
    </div>
    <div id="right-zone"></div>
  </div>

</ion-content>