<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detail entité</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container-fluid">
    <div class="row mt-3 mb-3">
      <!-- <div class="col"></div> -->
      <div class="col-12  col-lg-4 larger" style="background-color: red;">
        <p class="text mt-3">Nombre d’activités réalisées</p>
        <div class="number">{{nombreActivite}}</div>
      </div>
      <!-- <div class="col"></div> -->
      <div class="col-12 col-lg-4 larger " style="background-color: yellow;">
        <p class="text mt-2">Totals personnels</p>
        <p class="number">{{nombrePersonnel}}</p>
      </div>
      <!-- <div class="col"></div> -->
      <div class="col-12 col-lg-4  larger" style="background-color: green;">
        <p class="text mt-3">Nombre d’apprenants formés</p>
        <div class="number"> {{nombreApprenantFormerParEntite}} </div>
      </div>
    </div>
    <div class="row styledetailleEntite mb-3" >
      <div class="col-12 col-sm-12 col-lg-4">
        <img src={{imageEntite}} m-3 alt="">
      </div>
      <div class="col styleText">
        <h1 class="titreEntite"> {{nomEntite}} </h1>
        <p>{{descriptionEntite}}</p>
        <br>

        <h2 class="titreStatus">{{nomResponsable}} {{prenomResponsable}}</h2>
        <p>
          {{ statusResponsable}}
        </p>
        <hr size="3">



      </div>
    </div>
  </div>
  <!-- <ion-grid class="ion-margin text-center tailleTexte">
    <ion-row class="tableEntete ">
      <ion-col>Nom</ion-col>
      <ion-col>Prenom</ion-col>
      <ion-col class="cacherCole">Genre</ion-col>
      <ion-col>Contact</ion-col>
      <ion-col class="cacherCole">Email</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let student of students; index as i">

      <ion-col>{{ student.name }}</ion-col>
      <ion-col>{{ student.prenom }}</ion-col>
      <ion-col class="cacherCole">{{ student.genre }}</ion-col>
      <ion-col>{{ student.contact }}</ion-col>
      <ion-col class="cacherCole">{{ student.email }}</ion-col>
      <ion-col> voir plus </ion-col>

    </ion-row>
    <span></span>
    <span></span>
    <div class="position-relative">
       <div class="position-absolute top-0 end-0 mt-4"><pagination-controls (pageChange)= "a = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls></div> 
    </div>
     <div class="pagibottom" style="margin-left: 200px;"></div> 
  </ion-grid> -->
  
  <div class="personnelEntiteVide mx-auto mb-2 pt-1" *ngIf="nombrePersonnel == 0">
    Personnel inexistant 
  </div>
  <table class="table table-striped text-center mx-auto caption-top" *ngIf="nombrePersonnel != 0">
    <caption class="text-center">Liste des personnels de {{nomEntite}} </caption>
    <thead>

      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col" class="hideColonne hideColonneOder">Genre</th>
        <!-- <th scope="col">Contact</th> -->
        <th scope="col" class="hideColonne hideColonneOder">Email</th>
        <!-- <th scope="col" class="hideColonne">Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of PersonnelEntite | paginate: { itemsPerPage: 8, currentPage: pages}">
        <td> {{table.nom}} </td>
        <td> {{table.prenom}} </td>
        <td class="hideColonne hideColonneOder"> {{table.genre}} </td>
        <!-- <td> {{table.contact}} </td> -->
        <td class="hideColonne hideColonneOder"> {{table.email}} </td>
        <!-- <td class="hideColonne"> <span class="voirPlus">voir plus</span> </td> -->
      </tr>

    </tbody>

  </table>
  <div class="position-relative" *ngIf="nombrePersonnel != 0">
    <div class="position-absolute top-0 end-0 mt-4">
      <pagination-controls previousLabel="Prev" nextLabel="Next"  
      
        (pageChange)=" pages = $event"> </pagination-controls>
    </div>
  </div>

</ion-content>