
// style sur les button aranger HORIZONTALEMENT
@font-face {
    font-family: myfon;
    src: url("../../assets/font/Poppins-Black.ttf");
  }
  
  @font-face {
    font-family: myfon2;
    src: url("../../assets/font/Poppins-Light.ttf");
  }
  .form-select{
    color: #FF7900;
    border: 1px solid #FF7900;
    border-radius: 15px;
  }
  .form-select:focus {
    box-shadow: 0px 0px 0px;
    font-family: myfon2;
    color: #FF7900;
  }
  
  .buttonColor {
    background-color: #FF7900;
    color: #ffff;
    font-family: myfon2;
    border-radius: 15px;
  }
  
  .buttonColor:hover {
    border: 1px solid #FF7900;
    color: #FF7900;
  }
  
  // Style appliquer au tableau
  td{
    font-family: myfon2;
  }
  th{
    font-family: myfon2;
    color: #ffff !important;
      font-weight: 600;
  }
  thead{
    background-color: #FF7900;
  }
  .voirPlus{
    background-color: #FF7900;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    color: #ffff;
  }
  @media screen and (max-width: 900px) {
    .form-select{
      font-size: medium;
    }
    .buttonColor{
      font-size: medium;
      text-align: center;
    }
    .hideColonneOder{
      display: none;
    }
    th{
      font-size: medium;
      
    }
    td{
      font-size: small;
    }
    
  }
  @media screen and (max-width: 450px) {
    .buttonColor{
      font-size: small;
    }
    .hideColonne{
      display: none;
    }
    th{
      font-size: medium;
    }
    td{
      font-size: small;
    }
    
  }
  