<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personnel</ion-title>
    <ion-button slot="end" fill="clear">
      <div style="color: #ff7900;  font-size: 20px">
        <i class="fa-regular fa-bell"></i>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<ion-content>
  <div class="row">
    <div class="col-lg-3 col-12">
      <div class="d-grid gap-2 m-2 d-md-flex justify-content-md-start">
        <select class="form-select form-select-md" aria-label=".form-select-sm example">
          <option selected>
            <ion-icon name="funnel-outline" slot="start"></ion-icon>Filtrer par entité
          </option>
          <option value="1">ODC</option>
          <option value="2">ODK</option>
          <option value="3">FABLAB</option>
          <option value="3">ORANGE FAB</option>
        </select>
      </div>

    </div>
    <div class="col-lg-9 col-12">
      <div class="d-grid m-2 gap-2 d-md-flex justify-content-md-end">
        <button class="btn buttonColor" type="button">+ &nbsp; Ajouter Personnel Externe</button>
        <button class="btn buttonColor" type="button" routerLink="/dashboard/nouveau-personnel">+ &nbsp; Ajouter Personnel</button>
      </div>
    </div>
  </div>
  <div class="container ">
    <div class="row gy-3 my-3">



      <!-- DEBUT PAGINATION -->
      <div class=" col-6 col-sm-3 col-md-4 col-lg-3" *ngFor=" let a of accueil | paginate:{itemsPerPage:8, currentPage:a}; let index = index">

        <div class="card" routerLink="/detail-personnel">
          <img src="assets/images/profile.png" class="card-img-top" alt="...">

          <div class="card-body">
            <h5 class="card-title"> {{a.nom}} </h5>
            <p class="card-text"> {{a.email}} </p>
          </div>

        </div>

      </div>
    </div>

  </div>
   
  <div class="pagination">
    <pagination-controls (pageChange)="a = $event" nextLabel="Suivants" previousLabel="Précédents" [responsive]="responsive">
      
    </pagination-controls>
  </div>
</ion-content>
