.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
}

.img {
    max-width: 100%;
    border: 0;
    margin-top: 22px;
    margin-left: 15px;
    border-radius: 10px;
    width: auto;
    height: 80%;
}

.btn {
    margin-top: auto;
}

///////////////:::boutons
.mesbouton {
    display: flex;
    justify-content: space-around;
    border-radius: 15px;
}

////////////////////////////////:Tableau
// @font-face {
//     font-family: myfon1;
//     src: url("../../assets/font/Poppins-Light.ttf");
// }
.tailleTexte {
    font-family: myfon1 !important;
    font-size: 18px !important;
}

.tableEntete {
    background-color: #FF6200;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

@media screen and (max-width: 900px) {
    .tailleTexte {
        font-size: 12px;
    }
}

@media screen and (max-width: 800px) {
    .tailleTexte {
        font-size: 8px;
    }
    .cacherCole {
        display: none;
    }
}

.voir {
    background-color: #FF6200;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}

ion-row:nth-child(-n+3) {
    margin-bottom: 1px;
}

ion-row {
    border: 1px solid black;
}

ion-row:nth-child(even) {
    background-color: #F3F3F3;
}