<ion-header>
  <ion-toolbar>
    <ion-title>Trage effectué, voici un aperçu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prenom</th>
        <th scope="col" class="hideColonne hideColonneOder">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let table of donnee_tableau | paginate: { itemsPerPage: 5, currentPage: a}">
        <td> {{table.name}} </td>
        <td> {{table.prenom}} </td>
        <td class="hideColonne hideColonneOder"> {{table.date|date: 'dd-MM-yyyy'}}</td>
      </tr>
    </tbody>
  </table>
  <div class="paginat">
    <pagination-controls (pageChange)=" a = $event"> </pagination-controls>
  </div>
  <div class="button">
    <input class="but" type="submit" value="Valider" (click)="validerPopup()">
    <input class="but" type="submit" value="Annuler" (click)="annulerPopup()">
  </div>
</ion-content>
