
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="color: orangered; text-decoration: underline ;">Tirage</ion-title>
  </ion-toolbar>
</ion-header>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<ion-content>

<div class="container">
  <div class="col">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6" class="principal">

          <div class="col"  class="title">Tirage </div><br>

      <form action=" ">
        <div class="row">
          <div class="col">
            <label>Nom du tirage</label>
            <input type="text" id="inputs">
          </div>
        </div><br>
        <div class="row">
          <div class="col">
            <label>Nom du tirage</label><br>
            <select name="" id="select">
              <option value="">Choisissez</option>
            </select>
          </div>
        </div><br>
        <div class="row">
          <div class="col">
            <label>Liste à tirée</label><br>
            <select name="" id="select">
              <option value="">Choisissez</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col">
            <label>Nombre</label>
            <input type="number" id="inputs">
          </div>
        </div><br>

        <div class="row">
          <div class="col">
            <button> Trier </button>

          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>

</ion-content>

  <!-- <div class="container" >
    <div class="col">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6" class="containe" >
          <div class="col"class="brand-logo">

           <div class="brand-title" class="col">Tirage en Ligne </div>


          </div>

            <form action="">
              <div class="row"class="inputs">

                <div class="row">  <input type="text" placeholder="Nom du tirage"   name="libelle_tirage"  class="form-control"/></div><br>
                <div class="row">  <input type="number" placeholder="Entrer un nombre" name="nbredepostulants"  class="form-control"/></div><br>
                <div class="row">   <input type="text"  name="file" class="form-control" /></div><br>
                <div class="row">    <button type="submit">Enregistrer</button> </div>
              </div>

            </form>

        </div>

      </div>
    </div>


    <div class="col">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6"  class="containe2">


           <div class="brand-title" class="col">Importer un fichier </div>




            <form action="">
              <div class="row"class="inputs">
                <div class="importer" row> <i class="fa-solid fa-file-circle-plus"  id="iconeImport"></i><input type="file"  name="nbredepostulants" id="import" /></div> <br>


                <div class="row"> <input type="text" placeholder="Nom du ficher"   name="libelle_tirage" /><br></div><br>

                <div class="row">    <button type="submit"> <i class="fa-sharp fa-solid fa-download" style="margin-right: 10px;"></i>Importer</button></div>
              </div>

            </form>

        </div>

      </div>
    </div>
  </div>

     Deuxieme formulaire

     <div class="container" class="containe2">

    </div> -->
