
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="row">
      <div class="col"><ion-title style="color: #FF7900; margin-left: 10px;">Tirage</ion-title></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col" style="width: 100%; color:#FF7900; font-size: 30px;"><i class="fa-regular fa-bell"></i></div>
    </div>


  </ion-toolbar>
</ion-header>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<ion-content>

<div class="container">
  <div class="col">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6" class="principal">

          <div class="col"  class="title">Tirage </div><br>

      <form action=" ">
        <div class="row">
          <div class="col">
            <label>Nom du tirage</label>
            <input type="text" id="inputs">
          </div>
        </div><br>
        <div class="row">
          <div class="col">
            <label>Activité</label><br>
            <select name="" id="select">
              <option value="">Choisissez</option>
            </select>
          </div>
        </div><br>
        <div class="row">
          <div class="col">
            <label>Liste à tirée</label><br>
            <select name="" id="select">
              <option value="">Choisissez</option>
            </select>
          </div>
        </div><br>

        <div class="row">
          <div class="col">
            <label>Nombre</label>
            <input type="number" id="inputs" pattern="[1,9]*" min="1" >
          </div>
        </div><br>

        <div class="row">
          <div class="col">
            <button (click)="ouvrirPopup()"> Trier </button>
            <strong *ngIf="modelData">{{modelData}}</strong>
          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>