@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

/*body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}*/
.mesformmm{
  /*disposer les duex rect sur la meme ligne*/
  display: flex;
  /*escpace sur les cotés et entre les deux rect*/
  justify-content: space-around;
  /*marge exterieurs haut et bas*/
  margin-top: 10%;
  margin-bottom: 5%;
}

.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 90px;
  padding: 40px;
  padding-top: 50px;
  box-sizing: border-box;
  background: white;
  box-shadow: 10px 10px 10px  gray, -10px -10px 10px gray;
}

.container2 {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
margin-top: -500px;
  margin-left: 550px;
  padding: 40px;
  padding-top: 50px;
  box-sizing: border-box;
  background: white;
  box-shadow: 10px 10px 10px  gray, -10px -10px 10px gray;
}

.brand-logo {
  height: 120px;
  width: 300px;
  /*
  background: url("/Users/issiakacoulibaly/Documents/Tirage_Frontend/FreeTirage/src/assets/img/logo.png");
*/
  margin-left: -15px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}
.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.2rem;
  color: black;
  letter-spacing: 1px;
  text-align: center;
}

.inputs {
  text-align: left;
  margin-top: 30px;
}


label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input{
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
#import{
  box-shadow: none;
  border-radius: none;
  background: white;
}

.importer{
  border: 1px dashed black;
  padding: 30px;
}

button {
  color: black;
  margin-top: 20px;
  background: white;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
   border: 2px solid black;
}

button:hover {
 background-color: black;
 color: white;
}

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (max-width: 650px) {
  .container2 {
    position: relative;
    width: 234px;
    height: 500px;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 14px;
    padding: 40px;
    padding-top: -10px;
    box-sizing: border-box;
    background: white;
    box-shadow: 10px 10px 10px grey, -10px -10px 10px grey;
}


.container {
  position: relative;
  width: 234px;
  height: 500px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 14px;
  padding: 40px;
  padding-top: 50px;
  box-sizing: border-box;
  background: white;
  box-shadow: 10px 10px 10px  gray, -10px -10px 10px gray;
}



.container .brand-logo {
  height: 120px;
  width: 190px;
  /*
  background: url("/Users/issiakacoulibaly/Documents/Tirage_Frontend/FreeTirage/src/assets/img/logo.png");
*/
  margin-left: -15px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.container input{
 padding-left: 20px;
 padding-right: 20px;
}
  }







