<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<ion-header>
  <ion-toolbar>
    <ion-title>Tirage</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

 <!-- premier div  -->
 <div class="container">
  <div class="brand-logo">
  <img src="" alt="">
  <div class="brand-title">Tirage en Ligne </div>
  </div>
    <form  >
      <div class="inputs">
        <input type="text" placeholder="Donner un nom à votre tirage"   name="libelle_tirage"  class="form-control"/><br>

        <input type="number" placeholder="Entrer un nombre" name="nbredepostulants"  class="form-control"/><br>

        <input type="file"  name="file"class="form-control" /><br>

        <button type="submit">Enregistrer</button>
      </div>
    </form>






<!-- </div>
< deuxieme div >

<div class="container">
<div class="brand-logo">
<img src="" alt="">
<div class="brand-title">Tirage en Ligne avec <i>Selection</i> de fichier

</div>
</div>
<form  >
<div class="inputs">
  <label>Nom du Tirage</label>
  <input type="email" placeholder="Donner un nom à votre tirage"   name="libelle_tirage"  class="form-control"/>


  <label>Nombre de personne à tirer</label>
  <input type="number" placeholder="Entrer un nombre" name="nbredepostulants"  class="form-control"/>


  <label > Choississez une liste</label>
  <select class="form-select" id="select"class="form-control" aria-label="Default select example">
    <option  > Liste</option>

  </select>
  <button type="submit">Enregistrer</button>
</div>
</form>-->

</div>

<div class="container2">

  <div class="brand-title">Importer un fichier</div>

  <form  >
  <div class="inputs">

   <div class="importer"> <i class="fa-solid fa-file-circle-plus" style="font-size: 30px; margin-left: 70px;"></i><input type="file"  name="nbredepostulants" id="import" /></div> <br>
    <input type="text" placeholder="Donner un nom à votre ficher"   name="libelle_tirage" /><br>

    <button type="submit"> <i class="fa-sharp fa-solid fa-download" style="margin-right: 10px;"></i>Importer</button>
  </div>
</form>
</div>


</ion-content>
