<ion-header>
  <ion-toolbar>
    <ion-title>nouvelle-entite</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="input-box">
  <span>Nom de l'entite</span>
  <input type="text" value="Nom de l'entite" placeholder="Orange Digital Kalanso">
</div>
<div class="input-box">
  <span>Responsable de l'entite</span>
  <input type="text" value="Nom de l'entite" placeholder="Souleymane Bore">
</div>
<div class="input-box">
  <span>Description de l'entite</span>
  <input type="text" value="Nom de l'entite" placeholder="Orange Digital Kalanso">
</div>
<div class="button">
  <input class="but" type="submit" value="Annuler">
  <input class="but" type="submit" value="Ajouter">
</div>
</ion-content>
