<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste de tache</ion-title>
    <ion-button slot="end" fill="clear">
      <div class="iconCloche">
        <i class="fa-regular fa-bell"></i>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<ion-content>
  <div class="liste">

    <ion-grid class="ion-margin text-center tailleTexte">
        <ion-row class="tableEntete ">
            <ion-col>Nom</ion-col>
            <ion-col>Prenom</ion-col>
            <ion-col class="cacherCole">Genre</ion-col>
            <ion-col>Contact</ion-col>
            <ion-col class="cacherCole">Email</ion-col>
            <ion-col>Presence</ion-col>
        </ion-row>
        <ion-row *ngFor="let student of students; index as i">

            <ion-col>{{ student.name }}</ion-col>
            <ion-col>{{ student.prenom }}</ion-col>
            <ion-col class="cacherCole">{{ student.genre }}</ion-col>
            <ion-col>{{student.contact}}</ion-col>
            <ion-col class="cacherCole">{{ student.email }}</ion-col>
            <ion-col>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-col>

        </ion-row>
        <div class="position-relative">
            <div class="position-absolute top-0 end-0 mt-4">
                <pagination-controls (pageChange)="a = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
            </div>
        </div>
        <!-- <div class="pagibottom" style="margin-left: 200px;"></div> -->
    </ion-grid>
</div>
</ion-content>
