

<ion-header>
 
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-button slot="end" fill="clear">
        <app-cloche></app-cloche>
  
      </ion-button>
      <div class="row">
        <div class="col">
            <ion-title style="color: #FF7900;margin-top: 7px; margin-left: 10px;">Liste des Taches</ion-title>
        </div>
    </div>
  </ion-toolbar>
  
 
</ion-header>

<ion-content>
   <!-- <div>
        <button routerLink="/dashboard/creertachesdesignation">
            Ajouter une Tache
        </button>
   </div> -->

    <div class=" d-grid d-md-flex gap-2 justify-content-md-end bbtn"  routerLink="/dashboard/creertachesdesignation">
        <button type="button" class="btn bouton"> 
            Ajouter une Tâche
        </button>
  </div>
  <div class="liste">

    <ion-grid class="ion-margin text-center tailleTexte">
        <ion-row class="tableEntete ">
            <ion-col>Nom</ion-col>
            <ion-col>Prenom</ion-col>
            <ion-col class="cacherCole">Genre</ion-col>
            <ion-col>Contact</ion-col>
            <ion-col class="cacherCole">Email</ion-col>
            <ion-col>Presence</ion-col>
        </ion-row>
        <ion-row *ngFor="let student of students; index as i">

            <ion-col>{{ student.name }}</ion-col>
            <ion-col>{{ student.prenom }}</ion-col>
            <ion-col class="cacherCole">{{ student.genre }}</ion-col>
            <ion-col>{{student.contact}}</ion-col>
            <ion-col class="cacherCole">{{ student.email }}</ion-col>
            <ion-col>
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <ion-icon name="close-circle-outline"></ion-icon>
            </ion-col>

        </ion-row>
        <div class="position-relative">
            <div class="position-absolute top-0 end-0 mt-4">
                <pagination-controls (pageChange)="a = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
            </div>
        </div>
        <!-- <div class="pagibottom" style="margin-left: 200px;"></div> -->
    </ion-grid>
</div>
</ion-content>