.entete{
    background-color: #FF7900;
    color: white;
}
.tache{
    border: 1px solid #FF7900;
    background-color: #FF7900;
    border-radius: 15px;
    color: white;
    height: 38px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 80%;
    width: 18%;
}
