<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Créer activité</ion-title>
    <ion-button slot="end" fill="clear">
        <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <div class="container">
        <form #f="ngForm" (ngSubmit)="CreerActivite()">
            <div class="box">
                <h1>Nouvelle Activité</h1>
                <div class="activite-details">
                    <div class="input-box">
                        <span class="details">Entité *</span>

                        <select name="typeentite" [(ngModel)]="typeentite"  class="select" required>
                        <option >Choisisez une entité</option>
                        <option *ngFor="let entite of Entites" >{{entite.libelleentite  }}</option>

                    </select>
                    </div>
                    <div class="input-box"> 
                        <span class="details">Titre Activité *</span>
                        <input type="text" [(ngModel)]="nomActivite"  name="nomActivite" placeholder="Nom de l'activité" required>
                    </div>
                   
                    <div class="input-box ">
                        <span class="details">Type d'activité *</span>
                        <select name="typeactivite" [(ngModel)]="typeactivite" class="select" required>
                        <option value="">Type de l'activité</option>
                        <option *ngFor="let type of TypesActivites" >{{type.libelle}}</option>
                    </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Lead Activité *</span>
                        <select name="leadNomPrenom" [(ngModel)]="leadNomPrenom" class="select" required>
                        <option>Choisisez un lead</option>
                        <option *ngFor="let user of PersonnelsActives" >{{user.nom}} {{user.prenom}}</option>

                    </select>
                    </div>
                  
                    <div class="input-box">
                        <span class="details">Date debut *</span>
                        <input name="datedebut" [(ngModel)]="datedebut" type="datetime-local" placeholder="Choisisez la date de debut" required/>
                    </div>
                  
                    <div class="input-box">
                        <span class="details">Date fin *</span>
                        <input type="datetime-local"  name="dateFin" [(ngModel)]="dateFin" placeholder="Choisisez la date de fin" required/>
                    </div>

                    <div class="input-box">
                        <span class="details">Salle </span>
                        <select name="libellesalle" [(ngModel)]="libellesalle" class="select">
                        <option *ngFor="let s of SallesDisponibles">{{s.libelle}}</option>
                        </select>
                    </div>
                    <div class="input-box">
                        <span class="details">Ajouter image  *</span>
                        <input type="file" [(ngModel)]="image" placeholder="Logo.jpg" id="logo" name="file" (change)="selectFile($event)" accept="image/png, image/jpeg, image/jpg" 
                        
                        required/>
                    </div>
                    <div class="input-box" >
                        <span class="details"> Description</span>
                        <textarea name="description" [(ngModel)]="description"  id="details" rows="5" cols="28" placeholder="Donner une description de l'activité" required></textarea>
                    </div>
                    
                </div>
            </div>
            <div class="button">
                <input class="but" type="submit"  [disabled]="f.form.invalid" value="Enregistrer">
            </div>
        </form>

    </div>

</ion-content>