<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="container">
  <div class="row">


        <div class="col col-lg-4">

          <div class="col">
            mon profile
          </div>
           <div class="col">
            photo
           </div>

           <div class="col">
            <input type="text">
            <input type="text">
            <input type="text">
            <input type="text">
           </div>
        </div>



        <div class="col col-lg-4">
          <div class="col">

          </div>

          <div class="col">
            <div class="row">
              Activité créée
              <div class="row">
                <div>icon</div>
                <div>par email</div>
              </div>
            </div>
          </div>


        </div>

        

  </div>
</div>
</ion-content>
