<ion-header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
    <div class="row">
        <div class="col">
            <ion-title style="color: #FF7900; margin-left: 10px;">Lier une activité</ion-title>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" style="width: 100%; color:#FF7900; font-size: 30px;"><i class="fa-regular fa-bell"></i></div>
    </div>
</ion-header>

<ion-content>
    <div class="container">
       
        <div class="pag" *ngFor= "let salleactivite of  salleactivites | paginate:{itemsPerPage:6, currentPage:p}; let index =index">
       
        <div class="card float-left">
            <div class="row ">
                <div class="col-sm-5">
                    <img class="img" src="../../assets/odc1.png" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-block">
                        <!--           <h4 class="card-title">Small card</h4> -->
                        <p><b>{{salleactivite.titre}}</b> <br> <span>{{salleactivite.type}}</span></p>

                        <div class="statutbtn">
                            <div style="margin-top: 7px; color:#FF7900;">{{salleactivite.status}}</div>
                            <div class="butrad">
                                <input type="radio" id="" name="" value="" checked>
                                <label for=""></label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        
    </div>

    
    </div>
    <div class="pagination">
        <pagination-controls (pageChange)="p=$event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls>
    </div>
    <div class="button">
        <button> Attribuer </button>
    </div>
</ion-content>