

 <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title_page ion-text-uppercase">Accueil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="false">









  <div class="carousel">

    <h2>Les activités à venir</h2>
    <figure>
        <img src="../../assets/A (1).jpg" height="300px" width="200px" alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px"  alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px"  alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px"   alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px"  alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px"  alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px" alt="">
        <img src="../../assets/A (1).jpg" height="300px" width="200px"  alt="">
        <!-- <img src="https://source.unsplash.com/7mUXaBBrhoA/800x533" alt=""> -->
    </figure>
    <nav>
        <button class="nav pre" (click)="change()">Précédent</button>

        <button class="nav ">Voir +</button>

        <button class="nav suiv" (click)="change()">Suivant</button>
     
    </nav>
</div>

 
  







  

<div class="container">

  <div class="col">

    <div class="row">

          <div class="col-sm-12 col-md-6 col-lg-6 salle_card" >
             <div class="row">
                <div class="col">

                  <img src="" alt="">
                  
                </div>
                <div class="col">
                  <div class="col">

                  </div>
                
                
                
                <div class="col"></div>
                
              </div>
                <div class="col"></div>
             </div>
          </div>




          
          <div class="col-sm-12 col-md-6 col-lg-6 salle_card">
            <p>jre suis pas mal</p>
          </div>




          <div class="col-sm-12 col-md-6 col-lg-6  salle_card">
            <p>jre suis pas mal</p>
          </div>
          
          <div class="col-sm-12 col-md-6 col-lg-6 salle_card" >
            <p>jre suis pas mal</p>
          </div>

          

    </div>

  </div>




</div>
  


</ion-content> 

