<ion-header>
  <ion-toolbar>
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="false">
  <div class="body">
    <ion-grid>
      <!-- column gauche -->
      <ion-col class="infos">
        <ion-label class="textInfos">Informations</ion-label>
        <!-- ::::::::::::::::::::: -->
        <div class="infoselement">
          <div class="enteteInfos">
            <div class="cercle1 cercle">

            </div>
            <ion-label class="nbre">120</ion-label>
          </div>
          <ion-label class="attributInfos">Activites réalisés</ion-label>

        </div>
        <!-- :::::::::::::::::: -->
        <div class="infoselement">
          <div class="enteteInfos">
            <div class="cercle2 cercle">

            </div>
            <ion-label class="nbre">120</ion-label>
          </div>
          <ion-label class="attributInfos">Activites réalisés</ion-label>

        </div>
        <!-- :::::::::::::::::::::::: -->
        <div class="infoselement">
          <div class="enteteInfos">
            <div class="cercle3 cercle">

            </div>
            <ion-label class="nbre">120</ion-label>
          </div>
          <ion-label class="attributInfos">Activites réalisés</ion-label>

        </div>
        <!-- ::::::::::::::::::::::::: -->
        <div class="infoselement">
          <div class="enteteInfos">
            <div class="cercle4 cercle">

            </div>
            <ion-label class="nbre">120</ion-label>
          </div>
          <ion-label class="attributInfos">Activites réalisés</ion-label>

        </div>
        <!-- :::::::::::::::::::::::::::::: -->
        <div class="infoselement">
          <div class="enteteInfos">
            <div class="cercle5 cercle">

            </div>
            <ion-label class="nbre">120</ion-label>
          </div>
          <ion-label class="attributInfos">Activites réalisés</ion-label>
        </div>
        <!-- :::::::::::::::::::::::::::::::::: -->

        <button class="reprting">Reporting</button>
      </ion-col>
  
      <!-- column droite -->
      <ion-col class="activites" >
        <ion-row class="encour"> 
        </ion-row>

        <ion-row class="avenir"> 
        </ion-row>
      </ion-col>
    </ion-grid>
  </div>
</ion-content> 

