<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Accueil</ion-title>
    <ion-button slot="end" fill="clear">
      <div style="color: #ff7900;  font-size: 20px">
        <i class="fa-regular fa-bell"></i>
      </div>
    </ion-button>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container-fluid mere" style="height: 100%;">

  <div class="row gy-3 my-3">

    <div class="col- col-sm-10 col-md-10 col-lg-3 col-xl-3 col-xxl-3 side_gauche">

      <div class="col side">



        <div class="col">


          <div class="titre_inf">
            Informations
          </div>



          <div class="col" style="margin-top: 5%;">


            <div class="col">

              <div class="row">

                <div class="col"><i class="bi bi-activity icon1"></i></div>
                <div class="col nombre">120</div>

              </div>

              <div class="col text_info">
                Activités réalisées
              </div>

            </div>



            <div class="col">

              <div class="row">

                <div class="col"><i class="bi bi-people-fill icon2"></i></div>
                <div class="col nombre">100</div>

              </div>

              <div class="col text_info">
                Personnels actifs
              </div>

            </div>






            <div class="col">

              <div class="row">

                <div class="col"> <i class="fa fa-users icon3" aria-hidden="true"></i></div>
                <div class="col nombre">03</div>

              </div>

              <div class="col text_info">
                Participants Totals
              </div>

            </div>





            <div class="col">

              <div class="row">

                <div class="col"><i class="fa fa-female icon4" aria-hidden="true"></i></div>
                <div class="col nombre">120</div>

              </div>

              <div class="col text_info">
                Participants feminins
              </div>

            </div>





            <div class="col">

              <div class="row">

                <div class="col"><i class="fa fa-child icon5" aria-hidden="true"></i></div>
                <div class="col nombre">120</div>

              </div>

              <div class="col text_info">
                Participants enfants
              </div>

            </div>


          </div>

        </div>




        <div class="col reporting">
          <button type="button" class="btn">Reporting</button>
        </div>



      </div>
    </div>

    <div class="col- col-sm-10 col-md-10 col-lg-8 col-xl-8 col-xxl-8 side_droite">



      <div class="col activite">


        <span class="AenCours">Activités en cours</span>



        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>

          <div class="carousel-inner">

            <div class="carousel-item active" data-bs-interval="1000">
              <img src="../../assets/A (1).jpg" class="d-block w-100 imgslide" alt="...">



              <div class="carousel-caption d-none d-md-block">

                <h5 class="nom_activite">Nom activité</h5>
                <span class="encours_ticket">2020-04-23</span> <span class="encours_ticket"> -- Salle Kalanso</span><br>
                <img src="../../assets/A (2).jpg" class="img_activite_avenir" alt="" srcset="">BALLO Ibrahima

              </div>

            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../../assets/A (1).jpg" class="d-block w-100" alt="...">

              <a href="#">

                <div class="carousel-caption d-none d-md-block">

                  <h5 class="nom_activite">Nom activité</h5>
                  <span class="encours_ticket">2020-04-23</span> <span class="encours_ticket"> -- Salle
                    Kalanso</span><br>
                  <img src="../../assets/A (2).jpg" class="img_activite_avenir" alt="" srcset=""> BALLO Ibrahima

                </div>

              </a>

            </div>
            <div class="carousel-item" data-bs-interval="3000">
              <img src="../../assets/A (1).jpg" class="d-block w-100 imgencours" alt="...">

              <a href="#">

                <div class="carousel-caption d-none d-md-block">

                  <h5 class="nom_activite">Nom activité</h5>
                  <span class="encours_ticket">2020-04-23</span> <span class="encours_ticket"> -- Salle
                    Kalanso</span><br>
                  <img src="../../assets/A (2).jpg" class="img_activite_avenir" alt="" srcset="">BALLO Ibrahima
                </div>
              </a>


            </div>

          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>










      </div>

      <div class="col activite"
        style="margin-top: 3%; padding-right: 11px;  background-color:white; border-radius: 15px;">



        <span class="AenCours"> Activités à venir</span>

        <div class="row">

          <!-- <div class="col">
              <div class="col align-self-center ">
                <span class="titleButton">Ajouter une activité</span> +
              </div>
            </div> -->

          <div class="col m-1">
            <button type="button" class="btnPlus"
              style=" height: 95%; width: 70%; margin-left:10px; margin-top: 7px; border-radius: 15px;  background-color: #FF6200; "><i
                class="fa fa-plus-circle" aria-hidden="true"></i></button>
          </div>



          <div class="col m-2 image row"
            style="background-image: url('../../assets/A (1).jpg'); background-repeat: no-repeat;   background-position: center; background-size: cover; border-radius: 10px;">

            <div class="col align-self-end"
              style="background: rgba(250, 220, 220, 0.74); height: 75px; width: 153px; margin: 5px; border-radius: 15px;">
              <span class="nomActivite">
                Nom Activité
              </span>

              <br>
              <span class="Date">
                Status
              </span>

              <br>
              <img src="../../assets/icon/1.jpg" class="profil_img" alt="" srcset=""> <span class="nomLead"
                style="font-size:10px ;"> BALLO Ibrahima</span>
            </div>

          </div>



          <div class="col m-2 image row"
            style="background-image: url('../../assets/A (1).jpg'); background-repeat: no-repeat;   background-position: center; background-size: cover; border-radius: 10px;">

            <div class="col align-self-end"
              style="background: rgba(250, 220, 220, 0.74); height: 75px; width: 153px; margin: 5px; border-radius: 15px;">
              <span class="nomActivite">
                Nom Activité
              </span>

              <br>
              <span class="Date">
                Status
              </span>

              <br>
              <img src="../../assets/icon/1.jpg" class="profil_img" alt="" srcset=""> <span class="nomLead"
                style="font-size:10px ;"> BALLO Ibrahima</span>
            </div>

          </div>





          <div class="col m-2 image row"
            style="background-image: url('../../assets/A (1).jpg'); background-repeat: no-repeat;   background-position: center; background-size: cover; border-radius: 10px; ">

            <div class="col align-self-end"
              style="background: rgba(250, 220, 220, 0.74); height: 75px; width: 153px; margin: 5px; border-radius: 15px;">
              <span class="nomActivite">
                Nom Activité
              </span>

              <br>
              <span class="Date">
                Status
              </span>

              <br>
              <img src="../../assets/icon/1.jpg" class="profil_img" alt="" srcset=""> <span class="nomLead"
                style="font-size:10px ;"> BALLO Ibrahima</span>
            </div>

          </div>






        </div>
      </div>

    </div>

  </div>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
