<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span class="espace"></span>
      <p class="titre">PERSONNELS DE ODK</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span class="filterentity">
    <button class="entitytexte">+ CREER UTILISATEUR</button>
  </span>
  <span class="aduser">
    <button class="userplus">+ CREER UTILISATEUR</button>
  </span>
  <div class="tabspace">
    <div class="tabtitle">
    <p class="texte">LISTE DES PERSONNELS DE ORANGE DIGITAL CENTER</p>
  </div>
    <span class="tdispos">
      <table>
        <tr>
          <th class="cacher">NOM</th>
          <th class="cacher1">PRENOM</th>
          <th class="cacher2">GENRE</th>
          <th>CONTACT</th>
          <th class="cacher3">EMAIL</th>
          <th>ACTION</th>
        </tr>
        <!--Pour que la pagination soit fonctionnelle ajouter ceci (| paginate:{itemsPerPage:8,currentPage:page) au tr qui comprend ngFor -->
        <tr class="border-top">
          <td class="cacher">DJENIKA</td>
          <td class="cacher1">Aboubacar</td>
          <td class="cacher2">M</td>
          <td>+223 78816744</td>
          <td class="cacher3">djenikaa@orangemali.com</td>
          <td>
            <a href="#">Voir plus</a>
          </td>
        </tr>
        <tr>
          <td class="cacher">DEMBELE</td>
          <td class="cacher1">Idrissa</td>
          <td class="cacher2">M</td>
          <td>+223 78797071</td>
          <td class="cacher3">idrissa@orangemali.com</td>
          <td>
            <a href="#">Voir plus</a>
          </td>
        </tr>
        <tr class="border-top">
          <td class="cacher">BALLO</td>
          <td class="cacher1">Ibrahima</td>
          <td class="cacher2">M</td>
          <td>+223 79707178</td>
          <td class="cacher3">ibrahima@orangemali.com</td>
          <td>
            <a href="#">Voir plus</a>
          </td>
        </tr>
        <tr class="border-top">
          <td class="cacher">COULIBALY</td>
          <td class="cacher1">Fatoumata</td>
          <td class="cacher2">F</td>
          <td>+223 70717879</td>
          <td class="cacher3">fatoumata@orangemali.com</td>
          <td>
            <a href="#">Voir plus</a>
          </td>
        </tr>
        <tr class="border-top">
          <td class="cacher">SENOU</td>
          <td class="cacher1">Kalifa</td>
          <td class="cacher2">M</td>
          <td>+223 71787970</td>
          <td class="cacher3">kalifa@orangemali.com</td>
          <td>
            <a href="#">Voir plus</a>
          </td>
        </tr>
        <tr class="border-top">
          <td class="cacher">DIAWARA</td>
          <td class="cacher1">Karim</td>
          <td class="cacher2">M</td>
          <td>+223 78797071</td>
          <td class="cacher3">karim@orangemali.com</td>
          <td>
            <a href="#">Voir plus</a>
          </td>
        </tr>
      </table>
    </span>
    <pagination-controls (pageChange)="cp = $event" nextLabel="Suivant" previousLabel="Précedent"></pagination-controls>
  </div>
</ion-content>
