.titre{
  color: #FF6200;
}

.button{

  background-color: #FF6200;
  border: none;
  border-radius: 15px;

}
.row{
  display: flex;
}
.tableEntete{
  background-color: #FF6200;
  color: white;
}
.voirbutton{
  background-color: #FF6200;
  color: white;
  height: 25px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 15px;
}
.pagibottom{
  text-align: center;
}
