<ion-header >
  <ion-toolbar >
    <ion-title class="titre"> Personnel d'Orange Digital Center</ion-title>
    <div class="clasonne"> <i class="bi bi-bell"></i></div>
  </ion-toolbar>


</ion-header>

<ion-content>


 <div class="row">
  <div class="col-sm-7"><button class="btn btn-primary button m-2 " type="button">Filtrer par entité</button></div>



  <div class="col-sm-5 ">

    <button class="btn btn-primary button m-2" type="button"><i class="bi bi-plus"></i> Ajouter Personnel Externe</button>
    <button class="btn btn-primary button m-2" type="button"> <i class="bi bi-plus"></i>Ajouter Personnel</button>
  </div>
 </div>
<!--
  <table class="table">
    <thead class="tableEntete">
      <tr>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Genre</th>
        <th>Contact</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr >
        <td>Djiguiba</td>
        <td>Barema</td>
        <td>Homme</td>
        <td>73100973</td>
        <td>djiguibabarema@gmail.com</td>
        <td><button class="voirbutton">Voir +</button></td>
      </tr>
    </tbody>
  </table>
  <div class="pagibottom"><pagination-controls (pageChange)= "a = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls></div> -->

  <ion-grid class="ion-margin text-center tailleTexte">
    <ion-row class="tableEntete ">
      <ion-col>Nom</ion-col>
      <ion-col>Prenom</ion-col>
      <ion-col class="cacherCole">Genre</ion-col>
      <ion-col >Contact</ion-col>
      <ion-col class="cacherCole">Email</ion-col>
      <ion-col>Action</ion-col>
    </ion-row>
    <ion-row *ngFor="let student of students; index as i" >

      <ion-col>{{ student.name }}</ion-col>
      <ion-col>{{ student.prenom }}</ion-col>
      <ion-col class="cacherCole">{{ student.genre }}</ion-col>
      <ion-col>{{ student.contact }}</ion-col>
      <ion-col class="cacherCole">{{ student.email }}</ion-col>
      <ion-col> <button class="voir">voir plus</button> </ion-col>

    </ion-row>
    <div class="position-relative">
      <div class="position-absolute top-0 end-0 mt-4"><pagination-controls (pageChange)= "a = $event" nextLabel="Suivants" previousLabel="Précédents"></pagination-controls></div>
    </div>
    <!-- <div class="pagibottom" style="margin-left: 200px;"></div> -->
  </ion-grid>

</ion-content>
