<ion-header>
  <ion-toolbar>
    <ion-title>Salles</ion-title>
  </ion-toolbar>
  <ion-button  [routerLink]="['../addsalle']"> 
    Ajouter une Salle 
  </ion-button>
</ion-header>

<ion-content>
  <div class="container">
    <h1>Salles <span>Orange</span> Digital Center </h1>
   
      <ul class="timeline">
        
          <li class="timeline" *ngFor="let salle of Salles">
            <div class="icon done"></div>
            <details class="panel">
              <summary>{{salle.libelle}} {{salle.etage}}éme Etage </summary>
              <p><strong>Etat: </strong>             
                    <button type="submit" id="btnn" class="btn btn-primary">{{disponible}}</button>
                              <br><br>
                <strong>Description:</strong> 
                {{salle.description}}
                <p><strong>Nombre de place :{{salle.nombreplace}}</strong> </p>
                <button *ngIf="isSuperAdmin"  type="submit" id="btnn" class="btn btn-primary editbtn" [routerLink]="['../modifiersalle', salle.id]">Modifier</button>

            </details>

          </li>
        
          <!-- <li class="timeline">
            <div class="icon done"></div>
            <details class="panel">
              <summary>Salle Etage 2 </summary>
              <p><strong>Etat:</strong>             
                <button type="submit" id="btnn" class="btn btn-primary">Disponible</button>
                          <br><br>
            <strong>Description:</strong> 
            Salle de formation pour Orange Digital Kalanso
            composée de 40 Chaises,17 Tables deux Toilettes,
                      </details>
          </li>
        
          <li class="timeline">
            <div class="icon working"></div>
            <details class="panel">
              <summary>Salle Etage 3</summary>
              <p><strong>Etat:</strong>             
                <button type="submit" id="btnn" class="btn btn-primary">Disponible</button>
                          <br><br>
            <strong>Description:</strong> 
            Salle de formation pour Orange Digital Kalanso
            composée de 40 Chaises,17 Tables deux Toilettes,
                      </details>
          </li>
        
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary> Salle Etage 4</summary>
              <p><strong>Etat:</strong>             
                <button type="submit" id="btnn" class="btn btn-primary">Disponible</button>
                          <br><br>
            <strong>Description:</strong> 
            Salle de formation pour Orange Digital Kalanso
            composée de 40 Chaises,17 Tables deux Toilettes,
                      </details>
          </li>
        
          <li class="timeline">
            <div class="icon"></div>
            <details class="panel">
              <summary>Salle Etage 1</summary>
              <p><strong>Etat:</strong>             
                <button type="submit" id="btnn" class="btn btn-primary">Disponible</button>
                          <br><br>
            <strong>Description:</strong> 
            Salle de formation pour Orange Digital Kalanso
            composée de 40 Chaises,17 Tables deux Toilettes,
                      </details>
          </li> -->
        
         
        
      </ul>
  </div>
</ion-content>
