@font-face {
    font-family: poppinsB;
    src: url("../../assets/font/Poppins-Black.ttf");
}
@font-face {
    font-family: poppinsL;
    src: url("../../assets/font/Poppins-Light.ttf");
}
/*button*/
.ajout{
    color: white;
    background: #FF7900;
    
    width: 15%;
    // cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
     border: 2px solid #FF7900;     
     margin-top: 2%;
     margin-bottom: 2%;
    border-radius: 15px;
  }
  .titlediv{
    background-color: #D9D9D9;
   height: 60px;
text-align: center;
margin-bottom: 10%;
margin-left: 0px !important;
  }
  
  .title{
       margin-top: 18px;
       font-family: poppinsB;
       font-size: 20px;
    //    font-weight: 300;
  }
  .salles{
    padding: 30px 15px 30px 15px;
  }
.img {

    margin-top: 10px;
    margin-left: 10px;
    width: 50%;
 
}

  .chaquesalle{
    background: #FFFFFF;
border: 1px solid #FF7900;
box-shadow: 4px 4px 4px 2px #FF6200;
border-radius: 5px;

margin-bottom: 50px;
  }
@media screen and (max-width:767px){
    
    .separator1{
        display: none;

    }
    #titlediv{
        margin-top: 15%;
    }

}

// @media screen and (min-width:767px){
//     .separator2{
//         display: none;
        
//     }
    
// }