<ion-header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

    </ion-toolbar>
    <div class="row">
        <div class="col">
            <ion-title style="color: #FF7900;margin-top: 7px; margin-left: 10px;">Salles</ion-title>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col" style="width: 100%; color:#FF7900; font-size: 30px;"><i class="fa-regular fa-bell"></i></div>
    </div>
    <div>
        <button> Ajouter une Salle</button>
    </div>
</ion-header>

<ion-content>

    <div class="container">
        <h1 style=" color:#FF7900;">Orange Digital Center</h1>

        <ul class="timeline">

            <li class="timeline">
                <div class="icon done"></div>
                <details class="panel">

                    <summary>Salle Disponible</summary>
                    <p><strong>Nom:</strong> salle1<br><br>
                        <strong>Niveau:</strong> 2eme etage </p>
                    <div class="linkicon">
                        <div class="text" style="margin-top:5px;color:#FF7900; text-decoration:underline;"> Lier Activité</div>
                        <div class="icon">
                            <ion-icon name="trash-outline"></ion-icon>
                            <ion-icon name="refresh-outline"></ion-icon>
                        </div>
                    </div>
                </details>


            </li>
            <!--      <details class="panel">
                    <summary>{{salle.libelle}} {{salle.etage}}éme Etage </summary>
                    <p><strong>Etat: </strong>
                        <button type="submit" id="btnn" class="btn btn-primary">{{disponible}}</button>
                        <br><br>
                        <strong>Description:</strong> {{salle.description}}
                        <p><strong>Nombre de place :{{salle.nombreplace}}</strong> </p>
                        <button *ngIf="isSuperAdmin" type="submit" id="btnn" class="btn btn-primary editbtn" [routerLink]="['../modifiersalle', salle.id]">Modifier</button>

                </details> -->
            <li class="timeline">
                <div class="icon done"></div>
                <details class="panel">
                    <summary>Salles Occupées</summary>
                    <p>And spotteth twice they the camels before the third hour. And so the Midianites went forth to Ram Gilead in Kadesh Bilgemath by Shor Ethra Regalion, to the house of Gash-Bil-Betheul-Bazda, he who brought the butter dish to Balshazar
                        and the tent peg to the house of Rashomon, and there slew they the goats, yea, and placed they the bits in little pots. Here endeth the lesson.</p>
                </details>
            </li>





        </ul>
    </div>
</ion-content>