<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter personnel Externe</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <form action="#">
      <div class="box">
        <h1>Nouveau personnel externe</h1>
            <div class="ajout">
                <div class="input-box">
                    <span class="details">Nom *</span>
                    <input type="text" placeholder="Nom du personnel"  [(ngModel)]="nom" name="nom" required>
                </div>
                <div class="input-box">
                  <span class="details">Mail *</span>
                  <div class="mail">
                    <input type="text" [(ngModel)]="email" name="email" placeholder="loremipsun" id="inp" required>
                  
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">Prénom *</span>
                  <input type="text" placeholder="Prénom du personnel"  [(ngModel)]="prenom" name="prenom" required>
                </div>

                <div class="input-box">
                  <span class="details">Numéro de telephone *</span>
                  <input type="tel" 
      pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
      [(ngModel)]="numero" name="numero" required>
                  <!-- <input type="text" placeholder="Numéro de telephone"  [(ngModel)]="numero" name="numero" required> -->
                </div>
                

                <div class="input-box">
                  <span class="details">Genre *</span>
                  <select name="genre" [(ngModel)]="genre" class="select" required>
                    <option >--Votre genre--</option>
                    <option >Masculin</option>
                    <option >Feminin</option>
                    <!-- <option *ngFor="let entite of Entites" >{{entite.libelleentite}}</option> -->
                    
                  </select>
              </div>
                
            </div>
            
          
      </div>
      <div class="button">
        <input class="but" type="submit" (click)="CreateIntervenant()" value="Ajouter">
      </div>

    </form>
</div>
</ion-content>
