<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ajouter personnel</ion-title>
    <ion-button slot="end" fill="clear">
      <app-cloche></app-cloche>

    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="container">
    <form action="#">
      <div class="box">
        <h1>Nouveau personnel</h1>
            <div class="ajout">
                <div class="input-box">
                    <span class="details">Nom *</span>
                    <input type="text" placeholder="Nom du personnel">
                </div>
                <div class="input-box">
                  <span class="details">Mail *</span>
                  <input type="text" placeholder="loremipsun@orangemali.com">
                </div>
                <div class="input-box">
                  <span class="details">Prénom *</span>
                  <input type="text" placeholder="Prénom du personnel">
                </div>
                <div class="input-box">
                  <span class="details">Date de naissance *</span>
                  <input type="date" placeholder="Choisisez la date de debut">
                </div>
                <div class="input-box">
                  <span class="details">Numéro *</span>
                  <input type="text" placeholder="Numéro du personnel">
                </div>
                <div class="input-box">
                    <span class="details">Entité *</span>
                    <select name="tchoixsalle" class="select">
                      <option value="">Orange Digital Kalanso</option>
                      <option value="">Orange FabLab</option>
                    </select>
                </div>

                
            </div>
            
          
      </div>
      <div class="button">
        <input class="but" type="submit" value="Créer l'activté">
      </div>

    </form>
</div>
</ion-content>
